it connects but it says can't connect to smtp?!

try.php
```php
try {
    //Server settings
    $mail->SMTPDebug = SMTP::DEBUG_SERVER;
    $mail->isSMTP();
    $mail->Host       = 'mail.rawmail.nl';
    $mail->SMTPAuth   = true;
    $mail->Username   = 'raw@dope.al';
    $mail->Password   = '**';
    $mail->SMTPSecure = PHPMailer::ENCRYPTION_STARTTLS;
    $mail->Port       = 2525;
    $mail->setFrom('raw@dope.al', 'Server');
    $mail->addAddress('itsthraw@dope.al', 'Joe User'); 
    $mail->isHTML(true); 
    $mail->Subject = 'Here is the subject';
    $mail->Body    = 'This is the HTML message body <b>in bold!</b>';
    $mail->AltBody = 'This is the body in plain text for non-HTML mail clients';
    $mail->send();
    echo 'Message has been sent';
} catch (Exception $e) {
    echo "Message could not be sent. Mailer Error: {$mail->ErrorInfo}";
}
```

```bash
[root@dope-d8ab70cbd904:~/test]# php -q try.php
2020-07-21 17:29:53     SERVER -> CLIENT: 220 mail.rawmail.nl ESMTP Postal/MRVAPO
2020-07-21 17:29:53     CLIENT -> SERVER: EHLO d8ab70cbd904
2020-07-21 17:29:53     SERVER -> CLIENT: 250-My capabilities are
                                          250-STARTTLS
                                          250 AUTH CRAM-MD5 PLAIN LOGIN
2020-07-21 17:29:53     CLIENT -> SERVER: STARTTLS
2020-07-21 17:29:53     SERVER -> CLIENT: 220 Ready to start TLS
2020-07-21 17:29:53     SMTP Error: Could not connect to SMTP host.
2020-07-21 17:29:53     CLIENT -> SERVER: QUIT
2020-07-21 17:29:53     SERVER -> CLIENT: ?s���>V��<_ש�
                                          qR"�O��O�
2020-07-21 17:29:53     SMTP ERROR: QUIT command failed: ?s���>V��<_ש�
                                          qR"�O��O�
2020-07-21 17:29:53     SMTP Error: Could not connect to SMTP host.
Message could not be sent. Mailer Error: SMTP Error: Could not connect to SMTP host.
```



smtp server log
```bash
17:29:53 smtp.1             | => [smtp.1:50] [2020-07-21T17:29:53.062] DEBUG -- : [MRVAPO]    Connection opened from **.**.**.**
17:29:53 smtp.1             | => [smtp.1:50] [2020-07-21T17:29:53.062] DEBUG -- : [MRVAPO]    Client identified as **.**.**.**
17:29:53 smtp.1             | => [smtp.1:50] [2020-07-21T17:29:53.079] DEBUG -- : [MRVAPO] <= EHLO d8ab70cbd904
17:29:53 smtp.1             | => [smtp.1:50] [2020-07-21T17:29:53.089] DEBUG -- : [MRVAPO] => 250-My capabilities are
17:29:53 smtp.1             | => [smtp.1:50] [2020-07-21T17:29:53.090] DEBUG -- : [MRVAPO] => 250-STARTTLS
17:29:53 smtp.1             | => [smtp.1:50] [2020-07-21T17:29:53.090] DEBUG -- : [MRVAPO] => 250 AUTH CRAM-MD5 PLAIN LOGIN
17:29:53 smtp.1             | => [smtp.1:50] [2020-07-21T17:29:53.148] DEBUG -- : [MRVAPO] <= STARTTLS
17:29:53 smtp.1             | => [smtp.1:50] [2020-07-21T17:29:53.148] DEBUG -- : [MRVAPO] => 220 Ready to start TLS
17:29:53 smtp.1             | => [smtp.1:50] [2020-07-21T17:29:53.179] DEBUG -- : [MRVAPO]    Connection closed
```
any idea what's the problem? i'm using same smtp server to connect from codeigniter and laravel i never had this kind of problem! And as i have no idea what `SMTP ERROR: QUIT command failed: ����?s���>V���<_ש�` i was thinking to ask here maybe someone can help.

Thanks

Instead of deleting the contents of the issue when you create it, read what it says since it tells you exactly where to look to [solve this exact problem](https://github.com/PHPMailer/PHPMailer/wiki/Troubleshooting#certificate-verification-failure), where it says:

>In an SMTP transcript this will typically be shown as trying to send a STARTTLS command immediately followed by a QUIT command

In short, you have a certificate verification problem.

Weird. i had the same problem on Codeigniter not the same but certificate was self signed, i replaced with lets encrypt, and problem was solved, without having to add `'allow_self_signed' => true`

How can the same problem can still persist with phpmailer?!

![image](https://user-images.githubusercontent.com/32969774/88091040-c6d71380-cb8e-11ea-84bc-58a0d77ea597.png)
![image](https://user-images.githubusercontent.com/32969774/88091139-f0903a80-cb8e-11ea-939e-38d015453aff.png)

https://www.checktls.com/TestReceiver?LEVEL=DETAIL&amp;EMAIL=mail.rawmail.nl

@Synchro i'm still trying to understand the problem you're talking about? Care to explain for us idiots with 0 knowledge on mail servers?!

No, it's not a problem with PHPMailer code. PHPMailer is failing because your server is not configured correctly, which is nothing to do to with PHPMailer. PHPMailer is simply a place where the symptoms are showing.

What you posted above says that your mail server is fine – which doesn't conflict with anything I or the troubleshooting guide have said. It's useful information, as it tells us that it really is your PHP configuration that is at fault. While your mail server is presenting a perfectly valid certificate, your PHP installation is incapable of verifying it correctly, which is exactly what the troubleshooting guide says, and gives you pointers for how to deal with it; Remember that this is a place for fixing problems with PHPMailer, not your operating system.

It's most likely that your CA certificate bundle is outdated. I assume that having read the guide, you've gone through what it says and checked that your CA bundle is up to date, and installed a fresh copy?

Re:

> Weird. i had the same problem on Codeigniter not the same but certificate was self signed, i replaced with lets encrypt, and problem was solved

The certificate used by your mail server usually has nothing to do with your web app or framework; they are completely independent. Remember that when you use PHPMailer, it's a client, not a server, and has nothing to do with your site having a certificate or not.

![image](https://user-images.githubusercontent.com/32969774/88116004-e33b7600-cbb7-11ea-9640-542545327757.png)
![image](https://user-images.githubusercontent.com/32969774/88116077-0a924300-cbb8-11ea-90e0-b0e6fc7ff761.png)


What i've written below it doesn't say my domain has ssl, it says my email server has a valid cert which is not being known only by PHPMailer. As you can see from these 2 scr TLS is working just fine.


> your PHP installation is incapable of verifying it correctly, which is exactly what the troubleshooting guide says, and gives you pointers for how to deal with it; Remember that this is a place for fixing problems with PHPMailer, not your operating system.

Test done via my server
```bash
pear install --alldeps Mail
```

try.php
```php
<?php
error_reporting(E_ALL ^ E_NOTICE ^ E_DEPRECATED ^ E_STRICT);

require_once "Mail.php";

$host = "mail.rawmail.nl:2525/?starttls=always";
$username = "dopemail/dopeal";
$password = "**********************";
$to = "itsthraw@gmail.com";
$email_from = "cmd@dope.al";
$email_subject = "Subject Line Here:" ;
$email_body = "whatever you like" ;
$email_address = "reply-to@example.com";

$headers = array ('From' => $email_from, 'To' => $to, 'Subject' => $email_subject, 'Reply-To' => $email_address);
$smtp = Mail::factory('smtp', array ('host' => $host, 'auth' => true, 'username' => $username, 'password' => $password));
$mail = $smtp->send($to, $headers, $email_body);


if (PEAR::isError($mail)) {
echo("<p>" . $mail->getMessage() . "</p>");
} else {
echo("<p>Message successfully sent!</p>");
}
?>
```

![image](https://user-images.githubusercontent.com/32969774/88117164-ad4bc100-cbba-11ea-8d55-4b0e96c65c54.png)


if i add `$mail->SMTPAutoTLS = false;`

It started to send mails via TLS.

![image](https://user-images.githubusercontent.com/32969774/88118936-395fe780-cbbf-11ea-8bc9-16af8df4103e.png)
![image](https://user-images.githubusercontent.com/32969774/88118947-4381e600-cbbf-11ea-887c-5e03fa044c33.png)


That leads me to believe that those status values may be reporting only the last hop (i.e. look at *all* the `Received` headers, not just the last one). If you set `SMTPAutoTLS = false`, PHPMailer doesn't attempt to use STARTTLS automatically if the server offers it (which yours does), though it will still use it if you also set `SMTPSecure = 'tls'`.

Pear Mail enables encryption (see [here](https://github.com/pear/Net_SMTP/blob/master/Net/SMTP.php#L615) and [here](https://github.com/pear/Net_Socket/blob/master/Net/Socket.php#L730)) in exactly the same way that [PHPMailer does](https://github.com/PHPMailer/PHPMailer/blob/master/src/SMTP.php#L441).

If I connect to your mail server using your code, I have no problems with TLS:

```php
2020-07-22 10:11:20	SERVER -> CLIENT: 220 mail.rawmail.nl ESMTP Postal/GKM4DZ
2020-07-22 10:11:20	CLIENT -> SERVER: EHLO Octoo-en0.lan
2020-07-22 10:11:20	SERVER -> CLIENT: 250-My capabilities are
                   	                  250-STARTTLS
                   	                  250 AUTH CRAM-MD5 PLAIN LOGIN
2020-07-22 10:11:20	CLIENT -> SERVER: STARTTLS
2020-07-22 10:11:20	SERVER -> CLIENT: 220 Ready to start TLS
2020-07-22 10:11:20	CLIENT -> SERVER: EHLO Octoo-en0.lan
2020-07-22 10:11:20	SERVER -> CLIENT: 250-My capabilities are
                   	                  250 AUTH CRAM-MD5 PLAIN LOGIN
```

This also suggests it's an environment problem.

BTW the mail server at mail.rawmail.nl has quite a few security problems. testssl.sh output:

```
 rDNS (149.202.65.169):  ns3014522.ip-149-202-65.eu.
 Service set:            STARTTLS via SMTP

 Testing protocols via sockets

 SSLv2      not offered (OK)
 SSLv3      not offered (OK)
 TLS 1      offered (deprecated)
 TLS 1.1    offered (deprecated)
 TLS 1.2    offered (OK)
 TLS 1.3    not offered and downgraded to a weaker protocol

 Testing cipher categories

 NULL ciphers (no encryption)                      not offered (OK)
 Anonymous NULL Ciphers (no authentication)        not offered (OK)
 Export ciphers (w/o ADH+NULL)                     not offered (OK)
 LOW: 64 Bit + DES, RC[2,4], MD5 (w/o export)      offered (NOT ok)
 Triple DES Ciphers / IDEA                         offered
 Obsoleted CBC ciphers (AES, ARIA etc.)            offered
 Strong encryption (AEAD ciphers) with no FS       offered (OK)
 Forward Secrecy strong encryption (AEAD ciphers)  offered (OK)


 Testing server's cipher preferences

 Has server cipher order?     no (NOT ok)
 Negotiated protocol          TLSv1.2
 Negotiated cipher            DHE-RSA-AES256-SHA256, 1024 bit DH -- inconclusive test, matching cipher in list missing, better see below
 Cipher per protocol

Hexcode  Cipher Suite Name (OpenSSL)       KeyExch.   Encryption  Bits     Cipher Suite Name (IANA/RFC)
-----------------------------------------------------------------------------------------------------------------------------
SSLv2
 -
SSLv3
 -
TLSv1 (no server order, thus listed by strength)
 x39     DHE-RSA-AES256-SHA                DH 1024    AES         256      TLS_DHE_RSA_WITH_AES_256_CBC_SHA
 x88     DHE-RSA-CAMELLIA256-SHA           DH 1024    Camellia    256      TLS_DHE_RSA_WITH_CAMELLIA_256_CBC_SHA
 x35     AES256-SHA                        RSA        AES         256      TLS_RSA_WITH_AES_256_CBC_SHA
 x84     CAMELLIA256-SHA                   RSA        Camellia    256      TLS_RSA_WITH_CAMELLIA_256_CBC_SHA
 x33     DHE-RSA-AES128-SHA                DH 1024    AES         128      TLS_DHE_RSA_WITH_AES_128_CBC_SHA
 x9a     DHE-RSA-SEED-SHA                  DH 1024    SEED        128      TLS_DHE_RSA_WITH_SEED_CBC_SHA
 x45     DHE-RSA-CAMELLIA128-SHA           DH 1024    Camellia    128      TLS_DHE_RSA_WITH_CAMELLIA_128_CBC_SHA
 x2f     AES128-SHA                        RSA        AES         128      TLS_RSA_WITH_AES_128_CBC_SHA
 x96     SEED-SHA                          RSA        SEED        128      TLS_RSA_WITH_SEED_CBC_SHA
 x41     CAMELLIA128-SHA                   RSA        Camellia    128      TLS_RSA_WITH_CAMELLIA_128_CBC_SHA
 x05     RC4-SHA                           RSA        RC4         128      TLS_RSA_WITH_RC4_128_SHA
 x04     RC4-MD5                           RSA        RC4         128      TLS_RSA_WITH_RC4_128_MD5
 x16     EDH-RSA-DES-CBC3-SHA              DH 1024    3DES        168      TLS_DHE_RSA_WITH_3DES_EDE_CBC_SHA
 x0a     DES-CBC3-SHA                      RSA        3DES        168      TLS_RSA_WITH_3DES_EDE_CBC_SHA
TLSv1.1 (no server order, thus listed by strength)
 x39     DHE-RSA-AES256-SHA                DH 1024    AES         256      TLS_DHE_RSA_WITH_AES_256_CBC_SHA
 x88     DHE-RSA-CAMELLIA256-SHA           DH 1024    Camellia    256      TLS_DHE_RSA_WITH_CAMELLIA_256_CBC_SHA
 x35     AES256-SHA                        RSA        AES         256      TLS_RSA_WITH_AES_256_CBC_SHA
 x84     CAMELLIA256-SHA                   RSA        Camellia    256      TLS_RSA_WITH_CAMELLIA_256_CBC_SHA
 x33     DHE-RSA-AES128-SHA                DH 1024    AES         128      TLS_DHE_RSA_WITH_AES_128_CBC_SHA
 x9a     DHE-RSA-SEED-SHA                  DH 1024    SEED        128      TLS_DHE_RSA_WITH_SEED_CBC_SHA
 x45     DHE-RSA-CAMELLIA128-SHA           DH 1024    Camellia    128      TLS_DHE_RSA_WITH_CAMELLIA_128_CBC_SHA
 x2f     AES128-SHA                        RSA        AES         128      TLS_RSA_WITH_AES_128_CBC_SHA
 x96     SEED-SHA                          RSA        SEED        128      TLS_RSA_WITH_SEED_CBC_SHA
 x41     CAMELLIA128-SHA                   RSA        Camellia    128      TLS_RSA_WITH_CAMELLIA_128_CBC_SHA
 x05     RC4-SHA                           RSA        RC4         128      TLS_RSA_WITH_RC4_128_SHA
 x04     RC4-MD5                           RSA        RC4         128      TLS_RSA_WITH_RC4_128_MD5
 x16     EDH-RSA-DES-CBC3-SHA              DH 1024    3DES        168      TLS_DHE_RSA_WITH_3DES_EDE_CBC_SHA
 x0a     DES-CBC3-SHA                      RSA        3DES        168      TLS_RSA_WITH_3DES_EDE_CBC_SHA
TLSv1.2 (no server order, thus listed by strength)
 x9f     DHE-RSA-AES256-GCM-SHA384         DH 1024    AESGCM      256      TLS_DHE_RSA_WITH_AES_256_GCM_SHA384
 x6b     DHE-RSA-AES256-SHA256             DH 1024    AES         256      TLS_DHE_RSA_WITH_AES_256_CBC_SHA256
 x39     DHE-RSA-AES256-SHA                DH 1024    AES         256      TLS_DHE_RSA_WITH_AES_256_CBC_SHA
 x88     DHE-RSA-CAMELLIA256-SHA           DH 1024    Camellia    256      TLS_DHE_RSA_WITH_CAMELLIA_256_CBC_SHA
 x9d     AES256-GCM-SHA384                 RSA        AESGCM      256      TLS_RSA_WITH_AES_256_GCM_SHA384
 x3d     AES256-SHA256                     RSA        AES         256      TLS_RSA_WITH_AES_256_CBC_SHA256
 x35     AES256-SHA                        RSA        AES         256      TLS_RSA_WITH_AES_256_CBC_SHA
 x84     CAMELLIA256-SHA                   RSA        Camellia    256      TLS_RSA_WITH_CAMELLIA_256_CBC_SHA
 x9e     DHE-RSA-AES128-GCM-SHA256         DH 1024    AESGCM      128      TLS_DHE_RSA_WITH_AES_128_GCM_SHA256
 x67     DHE-RSA-AES128-SHA256             DH 1024    AES         128      TLS_DHE_RSA_WITH_AES_128_CBC_SHA256
 x33     DHE-RSA-AES128-SHA                DH 1024    AES         128      TLS_DHE_RSA_WITH_AES_128_CBC_SHA
 x9a     DHE-RSA-SEED-SHA                  DH 1024    SEED        128      TLS_DHE_RSA_WITH_SEED_CBC_SHA
 x45     DHE-RSA-CAMELLIA128-SHA           DH 1024    Camellia    128      TLS_DHE_RSA_WITH_CAMELLIA_128_CBC_SHA
 x9c     AES128-GCM-SHA256                 RSA        AESGCM      128      TLS_RSA_WITH_AES_128_GCM_SHA256
 x3c     AES128-SHA256                     RSA        AES         128      TLS_RSA_WITH_AES_128_CBC_SHA256
 x2f     AES128-SHA                        RSA        AES         128      TLS_RSA_WITH_AES_128_CBC_SHA
 x96     SEED-SHA                          RSA        SEED        128      TLS_RSA_WITH_SEED_CBC_SHA
 x41     CAMELLIA128-SHA                   RSA        Camellia    128      TLS_RSA_WITH_CAMELLIA_128_CBC_SHA
 x05     RC4-SHA                           RSA        RC4         128      TLS_RSA_WITH_RC4_128_SHA
 x04     RC4-MD5                           RSA        RC4         128      TLS_RSA_WITH_RC4_128_MD5
 x16     EDH-RSA-DES-CBC3-SHA              DH 1024    3DES        168      TLS_DHE_RSA_WITH_3DES_EDE_CBC_SHA
 x0a     DES-CBC3-SHA                      RSA        3DES        168      TLS_RSA_WITH_3DES_EDE_CBC_SHA
TLSv1.3
 -


 Testing robust forward secrecy (FS) -- omitting Null Authentication/Encryption, 3DES, RC4

 FS is offered (OK)           DHE-RSA-AES256-GCM-SHA384 DHE-RSA-AES256-SHA256 DHE-RSA-AES256-SHA DHE-RSA-CAMELLIA256-SHA DHE-RSA-AES128-GCM-SHA256 DHE-RSA-AES128-SHA256 DHE-RSA-AES128-SHA
                              DHE-RSA-SEED-SHA DHE-RSA-CAMELLIA128-SHA
 DH group offered:            Unknown DH group (1024 bits)

 Testing server defaults (Server Hello)

 TLS extensions (standard)    "renegotiation info/#65281" "session ticket/#35" "heartbeat/#15"
 Session Ticket RFC 5077 hint 300 seconds, session tickets keys seems to be rotated < daily
 SSL Session ID support       yes
 Session Resumption           Tickets: yes, ID: yes
 TLS clock skew               Random values, no fingerprinting possible
 Signature Algorithm          SHA256 with RSA
 Server key size              RSA 2048 bits (exponent is 65537)
 Server key usage             Digital Signature, Key Encipherment
 Server extended key usage    TLS Web Server Authentication, TLS Web Client Authentication
 Serial / Fingerprints        03C0BD9D7DD5CDDEE2A594D8DC1F51E4F270 / SHA1 B53D6F4DD5C4D377CE1665392886FDF3CF2E73A9
                              SHA256 CC4C5357274E8C24418D78F7E05ED0B6E039837EC5B2CCB58B73602CE65EF9ED
 Common Name (CN)             rawmail.nl
 subjectAltName (SAN)         *.rawmail.nl rawmail.nl
 Issuer                       Let's Encrypt Authority X3 (Let's Encrypt from US)
 Trust (hostname)             Ok via SAN wildcard (same w/o SNI)
 Chain of trust               Ok
 EV cert (experimental)       no
 Bad OCSP intermediate (exp.) Ok
 ETS/"eTLS", visibility info  not present
 Certificate Validity (UTC)   84 >= 30 days (2020-07-16 22:58 --> 2020-10-14 22:58)
 # of certificates provided   2
 Certificate Revocation List  --
 OCSP URI                     http://ocsp.int-x3.letsencrypt.org
 OCSP stapling                not offered
 OCSP must staple extension   --
 DNS CAA RR (experimental)    not offered
 Certificate Transparency     yes (certificate extension)


 Testing vulnerabilities

 Heartbleed (CVE-2014-0160)                not vulnerable (OK), timed out
 CCS (CVE-2014-0224)                       not vulnerable (OK)
 ROBOT                                     not vulnerable (OK)
 Secure Renegotiation (RFC 5746)           supported (OK)
 Secure Client-Initiated Renegotiation     VULNERABLE (NOT ok), potential DoS threat
 CRIME, TLS (CVE-2012-4929)                not vulnerable (OK) (not using HTTP anyway)
 POODLE, SSL (CVE-2014-3566)               not vulnerable (OK), no SSLv3 support
 TLS_FALLBACK_SCSV (RFC 7507)              Downgrade attack prevention supported (OK)
 SWEET32 (CVE-2016-2183, CVE-2016-6329)    VULNERABLE, uses 64 bit block ciphers
 FREAK (CVE-2015-0204)                     not vulnerable (OK)
 DROWN (CVE-2016-0800, CVE-2016-0703)      not vulnerable on this host and port (OK)
                                           make sure you don't use this certificate elsewhere with SSLv2 enabled services
                                           https://censys.io/ipv4?q=CC4C5357274E8C24418D78F7E05ED0B6E039837EC5B2CCB58B73602CE65EF9ED could help you to find out
 LOGJAM (CVE-2015-4000), experimental      not vulnerable (OK): no DH EXPORT ciphers
                                           But: Unknown DH group (1024 bits)
 BEAST (CVE-2011-3389)                     TLS1: DHE-RSA-AES256-SHA DHE-RSA-CAMELLIA256-SHA AES256-SHA CAMELLIA256-SHA DHE-RSA-AES128-SHA DHE-RSA-SEED-SHA DHE-RSA-CAMELLIA128-SHA AES128-SHA
                                                 SEED-SHA CAMELLIA128-SHA EDH-RSA-DES-CBC3-SHA DES-CBC3-SHA
                                           VULNERABLE -- but also supports higher protocols  TLSv1.1 TLSv1.2 (likely mitigated)
 LUCKY13 (CVE-2013-0169), experimental     potentially VULNERABLE, uses cipher block chaining (CBC) ciphers with TLS. Check patches
 RC4 (CVE-2013-2566, CVE-2015-2808)        VULNERABLE (NOT ok): RC4-SHA RC4-MD5


 Running client simulations via sockets

 Android 8.1 (native)         TLSv1.2 AES128-GCM-SHA256, No FS
 Android 9.0 (native)         TLSv1.2 AES128-GCM-SHA256, No FS
 Android 10.0 (native)        TLSv1.2 AES128-GCM-SHA256, No FS
 Java 6u45                    TLSv1.0 RC4-MD5, No FS
 Java 7u25                    TLSv1.0 AES128-SHA, No FS
 Java 8u161                   TLSv1.2 AES256-SHA256, No FS
 Java 11.0.2 (OpenJDK)        TLSv1.2 AES256-GCM-SHA384, No FS
 Java 12.0.1 (OpenJDK)        TLSv1.2 AES256-GCM-SHA384, No FS
 OpenSSL 1.0.2e               TLSv1.2 DHE-RSA-AES256-GCM-SHA384, 1024 bit DH
 OpenSSL 1.1.0l (Debian)      TLSv1.2 DHE-RSA-AES256-GCM-SHA384, 1024 bit DH
 OpenSSL 1.1.1d (Debian)      TLSv1.2 DHE-RSA-AES256-GCM-SHA384, 1024 bit DH
 Thunderbird (68.3)           TLSv1.2 DHE-RSA-AES128-SHA, 1024 bit DH


 Rating (experimental)

 Rating specs (not complete)  SSL Labs's 'SSL Server Rating Guide' (version 2009q from 2020-01-30)
 Specification documentation  https://github.com/ssllabs/research/wiki/SSL-Server-Rating-Guide
 Protocol Support (weighted)  0 (0)
 Key Exchange     (weighted)  0 (0)
 Cipher Strength  (weighted)  0 (0)
 Final Score                  0
 Overall Grade                T
 Grade cap reasons            Grade capped to T. Encryption via STARTTLS is not mandatory (opportunistic).
                              Grade capped to B. TLS 1.1 offered
                              Grade capped to B. TLS 1.0 offered
                              Grade capped to B. RC4 ciphers offered
```

Thanks for your time,

And yes i know that but since i had problems with ssl i haven't tried to change anything on server just setup the ssl and tried to first find out why PHPMailer wasn't able to connect