Inline embedded images do not show up in 6.1.1

Hello,

when updating from 6.0.7 to 6.1.1 the inline image attachments parsed from html source with data-uri stopped showing up in the email client. I compared the generated for the very same email from the old working 6.0.7 code with the new 6.1.1 one, and traced the error back to wrong CID in the email.

![Screenshot_20191014_104303](https://user-images.githubusercontent.com/4188318/66738720-67194280-ee6f-11e9-9979-10962a8b2edc.png)

Please note there is an additional "=?us-ascii?Q?" in the CID which seems does not belong there. As a result of this, images do not show up in the email client, just the alt-text, if any.

Reproduce by sending an HTML email with data-uri embedded images like https://gist.github.com/DolphRoger/c6c936bf394f8b506f4cc6ec3ec5f3ed with CharSet="UTF-8" using the MsgHTML standard example.



The `=?...?=` sequence is correct - it's RFC2047 encoding used to fold long lines without introducing spaces. What *is* wrong is that it is occurring *inside* the `<>`; it should be outside.

For anyone encountering this issue a quick temporary fix is locking the version to the last working one in composer.json: 
```
require {
  "phpmailer/phpmailer": "6.0.7"
}
```

I just pushed a change that should fix this in two ways - firstly it encodes those headers correctly, but it also changes to using shorter hashes for content-id values, which means it shouldn't actually need to use the encoding at all. Please give it a try.

This fixes it for me - images show up as expected. Thank you. 

I've been reading the RFCs and this solution isn't quite right. [The `Content-ID` header from RFC2047](https://tools.ietf.org/html/rfc2047#section-5) conforms to the same spec as the `Message-ID` header from RFC822. `Message-ID` contains an `addr-spec` element, and RFC2047 section 5 says that `encoded-word` elements must not appear in any `addr-spec` elements`. So we should either be transliterating UTF-8 content-id values into ascii, or replacing them with some other representation like a hash.

Hi,
I've updated to the last version and my base64 images haven't show anymore while printing directly to HP-ePrint.
PHPMailer works perfectly the issues is only the images.. The same exact code just updated PHPMailer to the last version to update for PHP 7.3 and now it don't work.
I've found that if I don't use any extension (data:image/png for example) in base64 it seems to work. For example:

$generator_type = pathinfo($qrcode, PATHINFO_EXTENSION);
echo '<img src="data:image/' . $generator_type . ';base64,' . base64_encode($generator->getBarcode($HTTP_GET_VARS['order_id'], $generator::TYPE_CODE_128)) . '">';

Will output this:
<img src=3D"data:image/;base64,iVBORw0KGgoAAAANSUhEUgAAAekAAAA........
It's missing image/png and this is the way I've found that it works.

I was using 5.2.7 and all worked, when updated I found that images were missing except one (that I forgot to add the mime extension in base64), I've leave them empty and seems to work now.

Best regards.

Just saw this commit -> https://github.com/PHPMailer/PHPMailer/commit/a038b503623db76babf84e11befe06a9ef094e20 
I've saw that I haven't that.. downloaded again from /src and now seems to work everything as it should.

This issue is not fixed. Why is it closed?

And it appears that this is very well known to not be fixed: according to #issuecomment-543697094 the fix was undone because it "wasn't quite right", but nobody remembered to reopen the issue.

Because it was reported as fixed by a commit after that comment by two separate people over a year ago. If you have an issue, don't just complain "it doesn't work" as that doesn't help anyone. Open a new issue with new, reproducible failing test case and I can look at fixing it, or even better, you can provide a PR.

> Because it was reported as fixed by a commit after that comment

What commit? The one that undoes the previous fix, leaving everything as it originally was? 
Obviously the people that commented it was fixed were just randomly not observing it anymore, maybe because they were using different content ids. 

Below is a broken email with the issue.
I've had to obfuscate stuff but hopefully it will be enough to investigate. I'm under the impression that you can reproduce the issue by simply adding inline attachments (AddEmbeddedImage()) with **any content-id that is more than 55 characters long**.


```
From - Tue Feb  9 19:19:25 2021
X-Account-Key: account2
X-UIDL: GmailId1778804e9ba01872
X-Mozilla-Status: 0001
X-Mozilla-Status2: 00000000
X-Mozilla-Keys:                                                                                 
Delivered-To: *******@gmail.com
Received: by 2002:a4a:8181:0:0:0:0:0 with SMTP id c1csp731080oog;
        Tue, 9 Feb 2021 10:19:19 -0800 (PST)
X-Received: by 2002:a2e:a17a:: with SMTP id u26mr2229632ljl.57.1612894759233;
        Tue, 09 Feb 2021 10:19:19 -0800 (PST)
ARC-Seal: i=2; a=rsa-sha256; t=1612894759; cv=pass;
        d=google.com; s=arc-20160816;
        b=uE3OrlHukaOZrg3D39WDxmpAhVT5lZQ1qXVjR6EMQgTkb0y+SdIDvKL04fE3teugEY
         YNYUEGKVfn120fbuMRDirHgwMJ6jKCZ0hhKh6u9MwsBy6tSBE0vhBIqkaE7Y/UaLcSsz
         30V4/QXvlu50rwt1Xt/DRb+Ptt3cM9A5NDrhxQ6/Cjp/iemJOIZoh34hCVangmUTgGpW
         IEImT2vlbrIY9/2zrhS9O10HWqgYwtbpNlhdKaNQzW2vh07zrpQb0cDPtgI4C4ZUZKSV
         sF9N3R5xvadK+B2Gyp94pVqAYXorsFNvEiFDCgRRJDwwbvw+0X+b+9On/mCqOAerUD3U
         g3iA==
ARC-Message-Signature: i=2; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20160816;
        h=content-transfer-encoding:mime-version:auto-submitted:message-id
         :from:date:subject:to:dkim-signature:delivered-to;
        bh=3GUxqJIf+YHkkZUCu8R+vHEy8FSwxRlrnl/ezGMGld0=;
        b=FbTt2EAjhlxY4fsp1d0DMDV8WrLAbpWwjr17N8tWb03yayWJByttl4zbdib6f6Q5op
         rU5ugQIXX78A1v0E8pq3kdvE3TjB5/LSCa73aZliXNTRRZ8AN7p4CivRCggfdv84H9B9
         pMnndEUhA/024lmCJFAmA0aFSOjTB6FkD6Q5VtqpyZe5Z7Fsu2kT+KHCDFEzCb6NSmlo
         HAat8YzVM80n9EpZWkAYYSEqWwdYeF8K4D8UIhXBShFyo7h8FB+Wdk0WcHD/dQ6rO26q
         /ytq/E/MDHRBtJQQvzNWZDcA+lEKJhgxYHNvNsGbdyZEMgE4LD3vsQUYgfs/DSL5GcDE
         2Ojg==
ARC-Authentication-Results: i=2; mx.google.com;
       dkim=pass header.i=@**************.com header.s=******* header.b=YYM2wnlD;
       arc=pass (i=1 spf=pass spfdomain=**************.com dkim=pass dkdomain=**************.com);
       spf=pass (google.com: domain of *******+caf_=*******=gmail.com@gmail.com designates ******** as permitted sender) smtp.mailfrom="*******+caf_=*******=gmail.com@gmail.com"
Return-Path: <*******+caf_=*******=gmail.com@gmail.com>
Received: from mail-sor-f41.google.com (mail-sor-f41.google.com. [********])
        by mx.google.com with SMTPS id j8sor4376434ljo.71.2021.02.09.10.19.18
        for <*******@gmail.com>
        (Google Transport Security);
        Tue, 09 Feb 2021 10:19:19 -0800 (PST)
Received-SPF: pass (google.com: domain of *******+caf_=*******=gmail.com@gmail.com designates ******** as permitted sender) client-ip=********;
Authentication-Results: mx.google.com;
       dkim=pass header.i=@**************.com header.s=******* header.b=YYM2wnlD;
       arc=pass (i=1 spf=pass spfdomain=**************.com dkim=pass dkdomain=**************.com);
       spf=pass (google.com: domain of *******+caf_=*******=gmail.com@gmail.com designates ******** as permitted sender) smtp.mailfrom="*******+caf_=*******=gmail.com@gmail.com"
X-Google-DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/relaxed;
        d=1e100.net; s=20161025;
        h=x-gm-message-state:delivered-to:dkim-signature:to:subject:date:from
         :message-id:auto-submitted:mime-version:content-transfer-encoding;
        bh=3GUxqJIf+YHkkZUCu8R+vHEy8FSwxRlrnl/ezGMGld0=;
        b=iiDedYIZmjSN5YN9sM6XnDU2EKUvOG76nx1MpLfP0O9LsJkALDkpde8FxldSLpGMIy
         Qlqnjf4Wv3O7uFpDshhRDtvPoNi0ehqBjiZoHbdxp46qZ1tCATveQYLf3uoFowR+8X56
         uA1EPP3LcZuNQIR9ii1EDFxA18WV/pC3vO1FOSkSTzZa9+lAn1IgxOLYVGfTPt8MczMG
         XF85WNLQawdfZneEx5SL+HZOBQjQgRLtur8e/vHQaAAQXusOg/wFX04ECB8Rvh2yW7j+
         jS3QsceRa1/kFe2N8CZgIw1CZ1zgBudzB8u6Ljr+SYsCwRET1/KyIVGxmXHfHgW5khXj
         rvDw==
X-Gm-Message-State: AOAM53386GPSfa4uFEa+QM+DlOgf3XjwGTg+uTk2joFUvFdbQ0aNtiZr
	doKPaW4+W6zkU0sB2OfKvU59s60e0OVdrQl+TI8PzUnJHmFPXXlHRQ==
X-Received: by 2002:a2e:8706:: with SMTP id m6mr14914891lji.254.1612894758809;
        Tue, 09 Feb 2021 10:19:18 -0800 (PST)
X-Forwarded-To: *******@gmail.com
X-Forwarded-For: *******@gmail.com *******@gmail.com
Delivered-To: *******@gmail.com
Received: by 2002:ac2:5ff0:0:0:0:0:0 with SMTP id s16csp578857lfg;
        Tue, 9 Feb 2021 10:19:17 -0800 (PST)
X-Google-Smtp-Source: ABdhPJxifNu/PDUYuHeBXC0mN2HqyVApO+0TBjLFR/5HrpqzP7OqKYXcrKFqb1qF21tJOqCnouhV
X-Received: by 2002:a7b:cd04:: with SMTP id f4mr4701489wmj.76.1612894757387;
        Tue, 09 Feb 2021 10:19:17 -0800 (PST)
ARC-Seal: i=1; a=rsa-sha256; t=1612894757; cv=none;
        d=google.com; s=arc-20160816;
        b=W6k+mOvOOh18xArOiNr0eURETmBKgGDVwBNpaThlZyzrm6Y/9gNjA6YJ1nEqltOss/
         XrayA29QW9dtbjJEaSs52ov4izdmoKPzgPvw5Ufl3vc0ZbTyUckW6JenCpW8nbVknrHE
         s6kKKgBPq9t95r4L1Sd3rEsPvEPyDqWAkammU6WYAUj8RujL+vG1qfWurz8QCfGldDX6
         XIQkWPVVNLzzj85w//Zs0h+wEFN19IJkatdZoMaQ2ZbwOHWJgL8zmsRvqOfgP0PGhpPS
         IkhGvnmevmt+54xwayTeExPlOPk3fYyl02wHYkE+WeN8N0uMsvf1UKpa4MhomQTHo8w/
         MsfA==
ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20160816;
        h=content-transfer-encoding:mime-version:auto-submitted:message-id
         :from:date:subject:to:dkim-signature;
        bh=3GUxqJIf+YHkkZUCu8R+vHEy8FSwxRlrnl/ezGMGld0=;
        b=rHZJZCvBapDBqj5BEu0JwbOX2JaiILjxTlcwvX6zzY6RpOlWfJjZ22xOO/BtaIOjhm
         q6TwmhG9ZQvXUfE1/v8o7XW4pguZi9+rL5Yru0WCjD/1SeyKisiroFTrU2Wz8ksqFPDQ
         zhwPMl1XDoG7nfiBsoEcy9hxRpcUNSAexYGXyNs5NMmSX1+m+vkzTa+QIxTJRPs91JjS
         79w4NpCk3FRKn6BB9nbGFvFpSV4X/Ra10x6sIlnCtiNXrOsqSdskRgLnmomwNtx9bonH
         ksxAfse/JD8bEgGIdOxcFxufdVT3thlU8jGS7aBwM3LZ0pEbOQkHbD14+j5EH6XGUdIU
         OPBw==
ARC-Authentication-Results: i=1; mx.google.com;
       dkim=pass header.i=****.com header.s=******* header.b=YYM2wnlD;
       spf=pass (google.com: domain of mail@****.com designates ******* as permitted sender) smtp.mailfrom=mail@**************.com
Return-Path: <mail@**************.com>
Received: from mail.s110074.*******.com (mail.s110074.*******.com. [*******])
        by mx.google.com with ESMTPS id a13si7545898wrs.285.2021.02.09.10.19.17
        for <*******@gmail.com>
        (version=TLS1 cipher=ECDHE-ECDSA-AES128-SHA bits=128/128);
        Tue, 09 Feb 2021 10:19:17 -0800 (PST)
Received-SPF: pass (google.com: domain of mail@**************.com designates ******* as permitted sender) client-ip=*******;
Received: by mail.s110074.*******.com (Postfix, from userid 0)
	id 4DZrkr5ZyHz3Jwx7; Tue,  9 Feb 2021 19:19:16 +0100 (CET)
DKIM-Signature: v=1; a=rsa-sha256; c=relaxed/simple; d=**************.com;
	s=*******; t=1612894756;
	bh=a5QOmSUYtYlw01M0x846itUChYzoy5yD1ZPpQ8KYHbw=;
	h=To:Subject:Date:From;
	b=YYM2wnlDvRES5U+SR3n7mL8m/gOgBfHVbML4KpxOSoenLbVKp/UNUW4VEyFQ9Luu7
	 EruBxWV1bPg907+lZYgKOGzgEEdPfVD5KX3wSwoZRBdeoF3VScg+UuVj80x3RHRNCg
	 6WTAhwHbcEuRl2BMRxkeA9/6K1RzrQyIDsB8Yp0U=
To: *******@gmail.com
Subject: =?UTF-8?Q?Enlace_de_Verificaci=C3=B3n_de_Foro_*******?=
X-PHP-Originating-Script: 20003:PHPMailer.php
Date: Tue, 9 Feb 2021 19:19:16 +0100
From: ******* <foro@**************.com>
Message-ID: <20210209181916.7c161183b2e6@www.**************.com>
X-Priority: 3
X-Mailer: PHPMailer 6.2.0 (https://github.com/PHPMailer/PHPMailer)
Auto-Submitted: auto-generated
X-EZbouncer: =?us-ascii?Q?https://www.**************.com/admincp/ezbounce?=
 =?us-ascii?Q?.php=3Fu=3D?=
MIME-Version: 1.0
Content-Type: multipart/related;
 boundary="b1_k2qtp2pMFJ0tITmnxiilt2n0RQPtr9qVE5nRP3p4Ies"
Content-Transfer-Encoding: 8bit

This is a multi-part message in MIME format.

--b1_k2qtp2pMFJ0tITmnxiilt2n0RQPtr9qVE5nRP3p4Ies
Content-Type: text/html; charset=UTF-8
Content-Transfer-Encoding: 8bit

<html>
<body style="font-family: verdana, geneva, lucida, 'lucida grande', arial, helvetica, sans-serif;
font-size: 13px;
background: #CBC3B7 url('/images/gradients/degmarron.gif') repeat;
margin:0;
padding:0;
padding-top: 20px;">
<div style="background: #e6e1e1;
color: #000000;
border: 1px solid #cbb0b0;
max-width: 800px;
margin-left: auto;
margin-right: auto;">
<div style="background-color:#ebe5e5; color:#000000; padding: 20px;">
				<p>Hola, *******@gmail.com<p>
				
				<p>Por favor, haz clic aquÃ­ para completar tu registro:<br>
				<a href="https://www.**************.com/register.php?do=redirecting&key=e7221caa57872637cd9260d1b164f3a4">https://www.**************.com/register.php?do=redirecting&key=e7221caa57872637cd9260d1b164f3a4</a></p>

<p>Tu cÃ³digo de verificaciÃ³n es: e7221caa57872637cd9260d1b164f3a4.</p> 
  
				<br>
				Atentamente,<br>
				<br>
				El equipo de Foro *******.<br>
				<br>
</div>
<div style="text-align:center; padding: 20px; padding-top: 0;">

<hr>
<img alt="" src="cid:4a51de0f30d49da9ee48a767a3566437@www.**************.com" />
<br>
<div style="text-align:center; margin-top: 2px;font-size:smaller;">

<!-- OJO: si se descomenta lo siguiente, restaurar las URLs de las imÃ¡genes -->
<!-- Puedes seguirnos en:
<span class="vbpsmt-social-link"><a rel="nofollow" href="https://t.me/*******"></a></span>
<span class="vbpsmt-social-link"><a rel="nofollow" href="https://twitter.com/**************"></a></span> -->

AtenciÃ³n a anunciantes: 600651515
<a rel="nofollow" href="tel:+xxxxxxxxx"><img src="cid:50666ab4563d099ac0cf537838ed5712@www.**************.com" valign="middle"></a>
<a rel="nofollow" href="https://wa.me/xxxxxxxxx"><img src="cid:1ded02ee8c76160d03767cbfd97a311f@www.**************.com" valign="middle"></a>
<a rel="nofollow" href="https://t.me/xxxxxxx"><img src="cid:5c462790323845dc6544c14bf6c476c3@www.**************.com" valign="middle"/></a>
</div>
<div style="font-size: 10px; 
font-family: verdana; 
text-align: left;
color:#808080;">
<em>bla blabla</em>
</div>
</div>
</div>
</body>
</html>

--b1_k2qtp2pMFJ0tITmnxiilt2n0RQPtr9qVE5nRP3p4Ies
Content-Type: image/jpeg; name=nl_58_logo_mail_360px.jpg
Content-Transfer-Encoding: base64
Content-ID: <=?us-ascii?Q?4a51de0f30d49da9ee48a767a3566437@www.xxxxxxxxxx?=
 =?us-ascii?Q?xxxx.com?=>
Content-Disposition: inline; filename=nl_58_logo_mail_360px.jpg

/9j/4AAQSkZJRgABAQEAYABgAAD/4QBoRXhpZgAATU0AKgAAAAgABAEaAAUAAAABAAAAPgEbAAUA
(.......)
lSio2d9O76lPxv4C0aX4X+MNQiTy2/se+wqg4/1Eg9aK8/LMtwsaL93qd2IzLFSqWvtb8j//2Q==

--b1_k2qtp2pMFJ0tITmnxiilt2n0RQPtr9qVE5nRP3p4Ies
Content-Type: image/png; name=nl_95_phone24x24.png
Content-Transfer-Encoding: base64
Content-ID: <=?us-ascii?Q?50666ab4563d099ac0cf537838ed5712@www.xxxxxxxxxx?=
 =?us-ascii?Q?xxxx.com?=>
Content-Disposition: inline; filename=nl_95_phone24x24.png

iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACx
jwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAYdEVYdFNvZnR3YXJlAHBhaW50Lm5ldCA0LjEu
(.......)
TNcvjY2N5zjRfwdFNDg4aMCUHcaInlMoFMN4PvuxLuZEODDMb0ThgxwQBm4RAAAAAElFTkSuQmCC

--b1_k2qtp2pMFJ0tITmnxiilt2n0RQPtr9qVE5nRP3p4Ies
Content-Type: image/png; name=nl_59_whatsapp24x24.png
Content-Transfer-Encoding: base64
Content-ID: <=?us-ascii?Q?1ded02ee8c76160d03767cbfd97a311f@www.xxxxxxxxxx?=
 =?us-ascii?Q?xxxx.com?=>
Content-Disposition: inline; filename=nl_59_whatsapp24x24.png

iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAACXBI
(.......)
Q1NTU+2tra03qqpqAYRh6Faq1Svbs9npd23yxWKRCxcubCkwhUJhY14ul9/xfqlUekf9fwFbCRH1
Rn227wAAAABJRU5ErkJggg==

--b1_k2qtp2pMFJ0tITmnxiilt2n0RQPtr9qVE5nRP3p4Ies
Content-Type: image/png; name=nl_39_telegram24x24.png
Content-Transfer-Encoding: base64
Content-ID: <=?us-ascii?Q?5c462790323845dc6544c14bf6c476c3@www.xxxxxxxxxx?=
 =?us-ascii?Q?xxxx.com?=>
Content-Disposition: inline; filename=nl_39_telegram24x24.png

iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAAA
(.......)
kIApNtSri48CEOI4uiyRfOVEZIYICIwDyT/+S7CigQ0ar+xIsNeUvIh8icj1vwcAPeHeieqqdW0A
AAAASUVORK5CYII=

--b1_k2qtp2pMFJ0tITmnxiilt2n0RQPtr9qVE5nRP3p4Ies--



```

I don't think there is really a good solution to this; it will break things no matter what you do. The main **avoidable** problem is that you're using `mail()` (which is not recommended anyway), and the reason your content-id values are being encoded and wrapped is due to bugs in `mail()`, which has an intermittent habit of hard-breaking lines at around 65 characters (the only reason the `MAIL_MAX_LINE_LENGTH` constant exists), which would also break your cids even if PHPMailer was not encoding them.

Secondly, we have the problem with the `content-id` being an `addr-spec` that we are not allowed to use RFC2047 on. In PHPMailer this is applied to all headers as a workaround for the `mail()` bug (and more generally for over-long lines), and that is indeed something that could potentially be fixed, however, it would require a complete overhaul of the entire way that headers are handled, which is not something I want to do in this context. PRs welcome... I'd also be interested to see how other mailers handle this situation (e.g. try using a 1k-long cid) – Apple Mail usually provides the best example to follow.

For now, your easiest fix is to switch to using SMTP to localhost (just call `$mail->isSMTP()`), and it will not wrap CIDs until they are > 900 chars long. Alternatively, use shorter CIDs so that `mail()` doesn't break them.