SMTP AUTH PLAIN on WINDOWS server

php (7.0.33) run under windows, first "\0" generated incorrect base64string. I know that '\0' is the null byte, but under these settings server says: "incorrect base64data"

SMTP.php on line 549

![image](https://user-images.githubusercontent.com/3079458/111838672-f2ff8b80-88f9-11eb-8f78-3ef968b5504b.png)


That "hotfix" code does not appear in the current version of PHPMailer. Have you tried updating?

There's nothing wrong with having nulls in a string that's then base64 encoded - it's fully intended to be binary safe. 


For the record, the format of the AUTH PLAIN string is defined in [RFC4616 section 2](https://tools.ietf.org/html/rfc4616#section-2), and it is effectively:

    <user you want to claim to be><null><user you actually are><null><password>

PHPMailer skips the first field (because it's old-school forgery), so the string starts with a null byte.

everything you wrote, I know.. using phpmailer v6.3.0 (latest build).. without changes on windows/linux, response from server

```
"334 VXNlcm5hbWU6" => "Username:"
now CLIENT send password via sendCommand()

SERVER `RETURNS `string(35) "535 Incorrect authentication data"
```


```
    $user = "username";
    $pass = "password"
    $enc1 = base64_encode("\0" . $user . "\0" . $pass); // phpmailer PLAIN
    $enc2 = base64_encode($user . "\0" . $pass);        // phpmailer PLAIN - hotfix win
    $enc3 = base64_decode($enc1);
    $enc4 = base64_decode($enc2);
    
    _Vd($user, $pass, $enc1, $enc2, $enc3, $enc4);     // _Vd => prettyDump
    exit;
    
    on windows  debug

```
![image](https://user-images.githubusercontent.com/3079458/111844748-e3854000-8903-11eb-9beb-fcc7375701f5.png)


Propably for our server authorization need this fix. Thx for your time. 