Email address validation

There's a very large ISP here in Japan that allows two dots in a row in email addresses, and those addresses really work. Unfortunately not with PHPMailer, which refuses to send emails containing this pattern. I suppose this has something to do with the regular expression used to validate emails, but I might be wrong of course.

An example email address that won't work looks like this (I only changed the letters and numbers before the @, the number of letters and numbers and everything else is exactly as in one of the addresses that won't work):

try..this..0511@docomo.ne.jp

Before I start tracking down the issue and make changes to the core files -- is this a known issue, and if yes is there a simple solution already?

Thanks


It doesn't allow it because it's clearly invalid according to [RFC5322 section 3.4.1](http://tools.ietf.org/html/rfc5322#section-3.4.1).

Google commits a similar infringement by allowing trailing dots in local parts.

Because this is an infringement, you'll probably find that the same address without dots will also work, so I'd suggest you prefilter your addresses before trying to use them. This works very nicely on gmail, since gmail ignores dots altogether in the local part.

We're not in the business of allowing invalid stuff - if anything we should be heading the other way since email address definitions are already far too complex without making even more of a mess.

If you want to change the way it works, subclass PHPMailer and implement your own validator - this is what libraries are for.

Thanks for that. I get your point. It won't really help me as this means that I need to make quite a lot of changes in different parts of the website I'm using PHPMailer for as opposed to making a small change in one place only, but I agree that that's no reason for you to accept/deal with RFC invalid addresses.  

It can't be that hard; It should only mean you need to write a 1-line function and change the name of the class you use. Minimally:

```php
<?php
class myMailer extends PHPMailer
{
    function validateAdddress($addr)
    {
        return true;
    }
}
```
The other advantage of this approach is that you won't have to change anything when upgrading PHPMailer. if you're using PHPMailer form multiple locations, this is also a good way of cutting down your boilerplate code, so it's a good idea to do this anyway.

Thanks for that. I'll look a bit more into the theory that

> you'll probably find that the same address without dots will also work

as this is not always the case, but once that's clear I'll follow your approach. Again, thanks for your fast and helpful response.

@mr-esj could you please elaborate? Which provider does allow two dots in a row? I'm faily sure the workaround suggested by Synchro will work, but adding some keyword for future people with the same problem is really helpful :)

Something along the lines of "<isp xxx> double dot phpmailer fix"

@ooxi 
Thanks for that.

There are 3 major mobile phone providers in Japan - Softbank, Docomo and au. Docomo (@docomo.ne.jp) and au (@[*].ezweb.ne.jp) both allow trailing dots and double dots in the local part of their email addresses. Apparently, they issue a warning upon creation that this pattern might cause problems, but that's ignored by some users.

Unfortunately, I cannot easily reproduce the problem, since you can only set up an email with Docomo and au when you have a contract with them. I can try and run some tests later on -- my first two points of attack would be:

a) removing the dots
b) wrapping the local part in double quotation marks

but I can't validate easily as these are customer email addresses.

I did some more research on this and found some developers addressing the same issue, but all of those threads are in Japanese, and none of them offer a real solution apart from telling the user to change their email address. Outlook seems to ignore these addresses, and Gmail seems to fail as well, though it seems to be possible to force Gmail to send if the local part is wrapped in double quotation marks. 

There is no indication that removing the dots will work. In fact, I don't think (though I might be wrong) that removing the dots is the same as including the dots is expected behaviour. It doesn't work on Google Apps for Business for example. 
One address I have here on a list is 

xy..z..@

(letters only changed) and I very much doubt that xyz@ will resolve to the same address. Instead, the user has introduced the dots/double dots because xyz@ was already taken.

In terms of frequency -- I have access to a list of 120,000 email addresses, all Japanese, with both mobile and other email addresses. Searching for a double dot, there are 75 cases, and searching for a trailing dot in the local part, there are 71 cases (some are overlapping, see example).

I'll update this thread if I found a solution but it might take a while as the priority is not that high.









Thanks for the update!

>xy..z..@ (letters only changed) and I very much doubt that xyz@ will resolve to the same address

There's no particular reason to assume that - this is exactly what happens on gmail; `user@`, `u.s.e.r@`, `us.er@`, `user.@` are all considered to be the same address on gmail.

We are using Google Apps with some of our domains. 
And in those cases, us.er@mydomain.com is not sent to user@mydomain.com. It's returned immediately, saying that user doesn't exist. Which makes me think that Gmail's way of handling dots is not a universal rule.


OK, that is inconsistent - I can send to my gmail address with any variation of dots and it still reaches my inbox, but I'm not using google apps for my whole domain.

This is all a bit academic - if it's only the validation that's tripping you up, implement a validator to allow it (as I posted earlier) and your job is done. It's not appropriate for PHPmailer to allow it in general, but overriding it for your own purposes is just fine.

Hello,
I would like to reopen this old thread. I need to validate e-mails which include two dots (such as tomas.example.ab@gmail.com) and am a beginner to programming. Could you please help me where to implement the code @Synchro posted earlier and what other steps are necessary?

I am really desperate as I cannot figure it out

Thanks a lot!

There's nothing special you need to do. An address like that will validate fine using the default validator.

It is not working, though. The e-mail is sent only if the address contains maximally 1 dot.

Well wherever your problem is, it's not in PHPMailer:

    var_dump(PHPMailer::validateAddress('tomas.example.ab@gmail.com'));
    bool(true)

If your mail server is rejecting that, there's not a lot you can do, though since it's a gmail address, you could try stripping the dots.

Thank you. I will have to look somewhere else for the error.