Don't switch  content-transfer-encoding to quoted-printable if is multi-part

in class.phpmailer.php createBody() there are a few conditions that will switch the encoding to quoted-printable, without first checking to see if the email has a multi-part message. Which breaks [the fix in version 2.5.8](https://github.com/PHPMailer/PHPMailer/commit/9bdda8c8cb926a7676974f24fe308f58146f0e3d)

Could you be a bit more precise or write a test case? The automatic switch to quoted-printable only applies to the individual sub-parts (in `$bodyEncoding` and `$altBodyEncoding`), not the enclosing multipart (which retains whatever encoding you set).

I think I see what you mean [here](https://github.com/PHPMailer/PHPMailer/blob/master/class.phpmailer.php#L2138).

Yes, that is one of the lines, but in general I think anything that changes the encoding to quoted-printable should first check to see if the message is multi-part.
The following appears to have fixed the issue for me:


```php
//Use this method to determine if message is multipart
public function isMultipart() {
        $ismultipart = true;
        switch ($this->message_type) {
            case 'inline':
            case 'attach':
            case 'inline_attach':
            case 'alt_attach':
            case 'alt_inline_attach':
            case 'alt':
            case 'alt_inline':
                break;
            default:
                // Catches case 'plain': and case '':
                $ismultipart = false;
                break;
        }
     
        return $ismultipart;
    }
```

//check if is multi-part before switching to quoted-printable
```php
 public function createBody()
    {
        $body = '';
        $ismultipart = $this->isMultipart();

        //Create unique IDs and preset boundaries
        $this->uniqueid = md5(uniqid(time()));
        $this->boundary[1] = 'b1_' . $this->uniqueid;
        $this->boundary[2] = 'b2_' . $this->uniqueid;
        $this->boundary[3] = 'b3_' . $this->uniqueid;

        if ($this->sign_key_file) {
            $body .= $this->getMailMIME() . $this->LE;
        }

        $this->setWordWrap();

        $bodyEncoding = $this->Encoding;
        $bodyCharSet = $this->CharSet;
        //Can we do a 7-bit downgrade?
        if ($bodyEncoding == '8bit' and !$this->has8bitChars($this->Body)) {
            $bodyEncoding = '7bit';
            $bodyCharSet = 'us-ascii';
        }
        //If lines are too long, and we're not already using an encoding that will shorten them,
        //change to quoted-printable transfer encoding
        if ('base64' != $this->Encoding and !$ismultipart and self::hasLineLongerThanMax($this->Body)) {
            $this->Encoding = 'quoted-printable';
            $bodyEncoding = 'quoted-printable';
        }

        $altBodyEncoding = $this->Encoding;
        $altBodyCharSet = $this->CharSet;
        //Can we do a 7-bit downgrade?
        if ($altBodyEncoding == '8bit' and !$this->has8bitChars($this->AltBody)) {
            $altBodyEncoding = '7bit';
            $altBodyCharSet = 'us-ascii';
        }
        //If lines are too long, and we're not already using an encoding that will shorten them,
        //change to quoted-printable transfer encoding
        if ('base64' != $altBodyEncoding and !$ismultipart and self::hasLineLongerThanMax($this->AltBody)) {
            $altBodyEncoding = 'quoted-printable';
        }
```

//getMailMIME should also be modified to use isMultipart()
```php
    public function getMailMIME()
    {
        $result = '';
        switch ($this->message_type) {
            case 'inline':
                $result .= $this->headerLine('Content-Type', 'multipart/related;');
                $result .= $this->textLine("\tboundary=\"" . $this->boundary[1] . '"');
                break;
            case 'attach':
            case 'inline_attach':
            case 'alt_attach':
            case 'alt_inline_attach':
                $result .= $this->headerLine('Content-Type', 'multipart/mixed;');
                $result .= $this->textLine("\tboundary=\"" . $this->boundary[1] . '"');
                break;
            case 'alt':
            case 'alt_inline':
                $result .= $this->headerLine('Content-Type', 'multipart/alternative;');
                $result .= $this->textLine("\tboundary=\"" . $this->boundary[1] . '"');
                break;
            default:
                // Catches case 'plain': and case '':
                $result .= $this->textLine('Content-Type: ' . $this->ContentType . '; charset=' . $this->CharSet);
                break;
        }
        // RFC1341 part 5 says 7bit is assumed if not specified
        if ($this->Encoding != '7bit') {
            // RFC 2045 section 6.4 says multipart MIME parts may only use 7bit, 8bit or binary CTE
            if ($this->isMultipart()) {
                if ($this->Encoding == '8bit') {
                    $result .= $this->headerLine('Content-Transfer-Encoding', '8bit');
                }
                // The only remaining alternatives are quoted-printable and base64, which are both 7bit compatible
            } else {
                $result .= $this->headerLine('Content-Transfer-Encoding', $this->Encoding);
            }
        }

        if ($this->Mailer != 'mail') {
            $result .= $this->LE;
        }

        return $result;
    }
```

No you don't need to do all that, switching to Q-P for the sub-parts isn't a problem, it's only not allowed on the enclosing multipart. The only place it matters is where `Encoding` is set at that line I pointed at, and I don't think it should be. Try commenting that line out and see if it fixes your issue.

To get the email to work properly, I had to comment out both lines:
```php
if ('base64' != $this->Encoding and self::hasLineLongerThanMax($this->Body)) {
            #$this->Encoding = 'quoted-printable';
            #$bodyEncoding = 'quoted-printable';
        }
```
If it helps, the message_type is 'alt' and there are two message parts: text/plain & text/html.
When viewing the email in Outlook 2010 and viewing the email in Office365 via my browser, the quoted-printable encoding isn't decoded properly. This appears to happen for any sub-part encoded with 'quoted-printable' - maybe it's an issue with those clients.


Doing that will result in messages that have lines that are too long, which is why we're doing this switch in the first place - it's the same thing that Apple Mail does in the same situation. QP encoding is lossless, so you can break long lines without affecting the decoded content. You can avoid the entire situation in 2 ways: wrap your content so lines are shorter than 76 chars, or set `Encoding = 'base64';`.

It does appear that Outlook (both desktop and web versions) is buggy with respect to quoted-printable encoding - see #606 - but this seems to be the result of filtering it applies before you receive it rather than something being wrong with the original message - you will see that the message you receive is not what you sent (try BCCing the message to gmail to compare). Outlook has been getting steadily worse - the last half-decent version was 2003!

I didn't quite intend to close this ticket with that commit, but I think it should fix your problem - can you confirm?

It doesn't fix the issue for me.

There were a couple of other changes after that commit that should make QP encoding more consistent. Comments on the #606 bug say that most of their problems are avoided by using base64 encoding.

Yo! 
When I saw that stuff I couldn't fall asleep and had insomnia for a  couple of nights, so  I decided  to show it  to you, just  take a look <http://sound.deuboue.com/e4ufwdk>
My Best, ljlorente


