Unsuscribe link in the top of the email

I'm adding a custom header for my emails, so people can unsuscribe. Im using this:

`$mail->addCustomHeader("List-Unsubscribe",'<admin@keepity.com>, <http://keepity.com/?email='.$to.'>');`

But I'm dont getting the link in the email like this one

![WhatsApp Image 2020-03-23 at 09 54 49](https://user-images.githubusercontent.com/26178285/77326045-9457ff80-6cef-11ea-9a43-eb2bd624b58c.jpeg)

if is not with `addCustomHeader()` is there a way to do this with phpmailer?


I have not tried this, but have you tried adding the `mailto:` protocol to the email address, [see RFC 2369 Section 3.2](https://www.ietf.org/rfc/rfc2369.html#section-3.2)

A few things to consider. The `List-Unsubscribe' header contains URLs, not email addresses, and they are processed in left-to-right order, so do that like this to give the web link preference:

    $mail->addCustomHeader('List-Unsubscribe', '<http://keepity.com/?email='.$to.'>,<mailto:admin@keepity.com>');

Secondly, for that link to appear, you also need to have the `List-Unsubscribe-Post` header from [RFC8058](https://tools.ietf.org/html/rfc8058), which is a simple fixed, static value:

    $mail->addCustomHeader('List-Unsubscribe-Post', 'List-Unsubscribe=One-Click');

In order for that to work, you need to make sure that your unsubscribe URL handler knows that it can expect a POST request, not just a GET. It's not safe to use GET requests for this behaviour because mail scanners often send a GET request to every URL in a message to check the link targets for malware.

A third factor is that whether clients display this link is entirely discretionary, and quite a few web-based clients require very high sender reputation before they will show it (e.g. gmail), even though that seems entirely counterintuitive.