Idiot-proof the handling of long lines?

Hi,

I use PHPMailer to send HTML emails via mail() on a Linux system running postfix.  I started to notice that some of my emails had arbitrary whitespace inserted into them.  Sometimes this was OK; other times it broke the HTML.

As it turned out, the HTML in some of my emails contained lines longer than 998 characters.  Postfix, being a good RFC 5322§2.1.1-abiding citizen, was the culprit -- after 998 characters it would inject "\r\n ".

There are several ways to potentially fix the situation:
1. Don't try to send HTML with long lines.
2. Configure Postfix to stop breaking long lines.
3. Use a content transfer encoding like quoted-printable or base64.

I don't think 1 and 2 are very good.  My emails contain user-generated content, and they could contain words (e.g. URLs) that exceed 998-characters, let alone lines.  Reconfiguring Postfix would change the problem from happening every time to just when the remote SMTP server rejects long lines, but that's still a problem.  So, I went with option #3 -- I set the $mail->Encoding = "quoted-printable".

I'm submitting this issue because the default PHPMailer behavior in the original case -- blithely sending along RFC 5322§2.1.1-violating emails -- doesn't seem great.  I can think of a few potential improvements:
1. Detect long lines and intelligently wrap them, or
2. Detect long lines and automatically enable a content transfer encoding, or
3. Detect long lines and issue a warning or error.

The first option is not feasible; see https://github.com/PHPMailer/PHPMailer/issues/89#issuecomment-21977013.

Of options #2 and #3, I'd lean toward applying quoted-printable encoding (i.e. #2), but I think either (or both) would be an improvement.  I believe Apple Mail.app implements #2.

Thanks,
David

I've just pushed some changes that fix the boundary/id issue, and also merged in changes from master. Does it look good to you?

This was working pretty well so I merged it into master, only to discover that it caused problems with another recent dev branch concerning S/MIME signing. I've now dealt with that and now S/MIME siging does not cause a problem with headers.

Both changes will be in the 5.2.10 release.

These changes (https://github.com/PHPMailer/PHPMailer/commit/aa8e499b8a0654a93cf933654c7ffca351091bdc#diff-ace81e501931d8763b49f2410cf3094dR1839) break UTF-8 characters:

```php
$m = new PHPMailer();

$m->CharSet = 'utf-8';
$m->ContentType = 'text/html';
$m->Encoding = 'base64';
$m->isSendmail();
![screenshot - 04302015 - 06 22 57 pm](https://cloud.githubusercontent.com/assets/608192/7413512/f211c136-ef65-11e4-8d89-3b31ed6f861f.png)

$m->setFrom($from_parts[0], $from_parts[1]);
$m->addAddress($to_parts[0], $to_parts[1]);
$m->ReturnPath = self::_filterFrom(false);
$m->Subject = $topic;
$m->msgHTML($body, '/some/dir/');
$m->send();
```

*HTML part of the E-mail body*
```
--b1_c1099f51cc9c1fb026ec37ca5334d24f
Content-Type: text/html; charset=us-ascii
Content-Transfer-Encoding: quoted-printable

=D0=A4=D0=98=D0=9E: test <br/>=D0=9A=D0=BE=D0=BC=D0=BF=D0=B0=D0=BD=D0=B8=
=D1=8F:  <br/>=D0=A2=D0=B5=D0=BB=D0=B5=D1=84=D0=BE=D0=BD: 89872380097 <br/>=
Email: alexei@molin.pro <br/>=D0=94=D0=BE=D0=BF=D0=BE=D0=BB=D0=BD=D0=B8=
=D1=82=D0=B5=D0=BB=D1=8C=D0=BD=D0=B0=D1=8F =D0=B8=D0=BD=D1=84=D0=BE=D1=
=80=D0=BC=D0=B0=D1=86=D0=B8=D1=8F:  <br/>=D0=A1=D0=BF=D0=BE=D1=81=D0=BE=
=D0=B1 =D0=BE=D0=BF=D0=BB=D0=B0=D1=82=D1=8B: =D0=9D=D0=B0=D0=BB=D0=B8=D1=
=87=D0=BD=D1=8B=D0=BC=D0=B8 =D0=BA=D1=83=D1=80=D1=8C=D0=B5=D1=80=D1=83 <br/=
><p><b>=D0=A1=D0=BF=D0=B8=D1=81=D0=BE=D0=BA =D1=82=D0=BE=D0=B2=D0=B0=D1=
=80=D0=BE=D0=B2:</b></p><table style=3D"margin:0; text-align:center; vertic=
al-align:middle; padding:0; border-collapse:collapse; border-spacing:0; bor=
der:1px solid #000"><tr><th style=3D"width:25px; border:1px solid #000; pad=
ding:5px;">=E2=84=96</th><th style=3D"width:70px; border:1px solid #000; pa=
dding:5px;">=D0=90=D1=80=D1=82=D0=B8=D0=BA=D1=83=D0=BB</th><th style=3D"wid=
th:250px; border:1px solid #000; padding:5px;">=D0=9D=D0=B0=D0=B8=D0=BC=
=D0=B5=D0=BD=D0=BE=D0=B2=D0=B0=D0=BD=D0=B8=D0=B5 =D1=82=D0=BE=D0=B2=D0=
=B0=D1=80=D0=B0</th><th style=3D"width:70px; border:1px solid #000; padding=
:5px;">=D0=A6=D0=B5=D0=BD=D0=B0<br/>=D1=80=D1=83=D0=B1. </th><th style=3D"w=
idth:50px; border:1px solid #000; padding:5px;">=D0=9A=D0=BE=D0=BB-=D0=
=B2=D0=BE</th><th style=3D"width:80px; border:1px solid #000; padding:5px;"=
>=D0=A1=D1=83=D0=BC=D0=BC=D0=B0<br/>=D1=80=D1=83=D0=B1. </th><th style=3D"w=
idth:50px; border:1px solid #000; padding:5px;">=D0=90=D0=BA=D1=86=D0=B8=
=D1=8F</th><th style=3D"width:250px; border:1px solid #000; padding:5px;">=
=D0=9F=D0=B0=D1=80=D0=B0=D0=BC=D0=B5=D1=82=D1=80=D1=8B</th></tr><tr><td sty=
le=3D"width:25px; border:1px solid #000; padding:5px;"> 1</td><td style=3D"=
width:70px; border:1px solid #000; padding:5px;"> 22985 </td><td  style=3D"=
width:250px; text-align:left; border:1px solid #000; padding:5px;">=D0=
=AD=D0=BB=D0=B5=D0=BA=D1=82=D1=80=D0=BE=D0=B4=D1=8B =D0=BE=D0=BA-46 2,0 =
=D0=BC=D0=BC 4,5=D0=BA=D0=B3</td><td style=3D"width:70px; border:1px solid =
#000; padding:5px;"> 336.00</td><td  style=3D"width:50px; border:1px solid =
#000; padding:5px;">  1</td><td style=3D"width:80px; border:1px solid #000;=
 padding:5px;"> 336.00</td><td  style=3D"width:50px; border:1px solid #000;=
 padding:5px;"></td><td  style=3D"width:100px; text-align:left; border:1px =
solid #000; padding:5px;"></td></tr></table><br/><br/>=D0=90=D0=BA=D1=86=
=D0=B8=D0=B8:<br/>-10 =D1=80=D1=83=D0=B1.: - 10.00 =D1=80=D1=83=D0=B1.<br/>=
<br/><br/>=D0=A1=D1=83=D0=BC=D0=BC=D0=B0: 336.00 =D1=80=D1=83=D0=B1. <br/>=
=D0=A1=D0=BA=D0=B8=D0=B4=D0=BA=D0=B0: 10.00 =D1=80=D1=83=D0=B1. <br/><b>=
=D0=98=D1=82=D0=BE=D0=B3=D0=BE:</b> 326.00 =D1=80=D1=83=D0=B1. <br/><br/><b=
r/><br/>
```
where "Список товаров:" looks like "Ð¡Ð¿Ð¸ÑÐ¾Ðº Ñ‚Ð¾Ð²Ð°Ñ€Ð¾Ð²:".

OK, I can see the problem here - it should not be touching the charset when it changes to QP-encoding. I've pushed a change for that.

@rosmanov, can you confirm that this change works for you?

@Synchro, yes, it is fixed now. Thanks.