PHPMailer generating multipart/alternative messages with invalid Content-Transfer-Encoding

I occasionally get emails generated by websites that have a multipart/alternative MIME part that has a Content-Transfer-Encoding set to quoted-printable.  This is a violation of RFC 2045, Section 6.4:

If an entity is of type "multipart" the Content-Transfer-Encoding is not permitted to have any value other than "7bit", "8bit" or "binary".

After doing some research, I believe these messages are being generated by PHPMailer.  The messages contain a multipart boundary using the format that PHPMailer generates, and others have reported this from sites that are using PHPMailer (e.g., Wordpress):

http://en.forums.wordpress.com/topic/rfc-violating-content-transfer-encoding-header
