Huge memory usage with attachments

When I try to send an 18 MB attachment in PHPMailer, it exhausts the 128 MB memory limit on the server.

I believe it's related to this line in class.smtp.php :
```php
$lines = explode("\n", str_replace(array("\r\n", "\r"), "\n", $msg_data));
```
The explode function uses a very large amount of memory with large strings, e.g. in the case of attachments.

Perhaps some code can be added to mitigate this issue?

I've been doing some experiments iterating over the lines of an 500,000-line 18Mb string. `explode` is by far the fastest approach (because it's a single call), but it's also the most memory-heavy (about 9x source string). Next up is streams - temp and memory streams use a copy of the the source string in memory (i.e. 36M in all), and take about twice as long. Next I tried splitting off the first line with `strcspn` then grabbing the line with `substr`. This uses no additional memory, but takes about 3x as long. A method using `strtok` (what a horrible function!) consumes no additional memory and is only about 50% slower, but it skips blank lines, so is useless here. Any better ideas?

So, the current implementation prioritises performance over memory, and will only be a problem for large attachments, as you're finding. You could [subclass the SMTP class](https://github.com/PHPMailer/PHPMailer/wiki/Overriding-the-SMTP-class) and provide an alternative implementation as a workaround.

I'm not too keen on compromising performance in this area - the `data` method in the SMTP class this appears in is a major bottleneck for performance - the tiny `strlen` microoptimisation that's in there resulted in a >20% speedup!

FWIW, these are my two loop structures:

```php
$offset = 0;
$len = strlen($msg_data);
while ($offset < $len) {
    $linelen = strcspn($msg_data, "\n", $offset);
    $line = substr($msg_data, $offset, $linelen);
    $offset += ($linelen + 1);
}
```
```php
$fp = fopen("php://temp/maxmemory:20000000", 'r+');
fputs($fp, $msg_data);
rewind($fp);
while ($line = fgets($fp)) {
}
fclose($fp);
```

Obviously in my case I'll take any performance hit over increased memory usage, since the 18 MB attachment (in this case a regular website backup sent via email) exhaust the shared hosting's enforced 128 MB memory limit. I'll definitely have a play with your supplied loop structures, thanks for those.

As for my own suggestions, not sure. I created my own rough and ready smtp attachment code which simply got the binary data and wrote it to the smtp server as such (after all the mime headers of course):

fwrite($sh, chunk_split(base64_encode(file_get_contents("backup.zip"))));

So I'm not sure or the necessity of the exploding and similar functions when it comes to processing attachments, but I suppose I'm missing something?

The place this is happening has no knowledge of attachments or anything else - it's simply an implementation of the SMTP `DATA` command; the same function is used for your entire message - headers, message bodies, attachments etc, just treated as one big string. base64 is fine for binary attachments, but it's a bad idea for normal message bodies as it makes them unnecessarily large and will often get marked down by spam filters.

Why are you sending a backup by email? It would be far more efficient (and more secure) to scp/rsync/sftp it somewhere.

> Why are you sending a backup by email?

> ... an 18 MB attachment...

@Synchro 

This is pretty usual filesize for other cases, `pdf` for example , IMO the issue is valid.

Sure it's valid, and so is my suggested solution! You're saying it's preferable to slow down *every* message in order to cope with one edge case that has a workaround?

I'm dealing right now with sending pdf offers by email in one project.

Had never ran out of memory like @Sandest - so was even unaware that problem exists.
I'll also try to test your workarounds and do some benchmarking in the next few days.

Here's a low memory implementation of the data function in a subclass - load it as as per the link I posted earlier.

```php
<?php
class SMTP_lowmemory extends SMTP {
    public function data($msg_data)
    {
        //This will use the standard timelimit
        if (!$this->sendCommand('DATA', 'DATA', 354)) {
            return false;
        }

        /* The server is ready to accept data!
         * According to rfc821 we should not send more than 1000 characters on a single line (including the CRLF)
         * so we will break the data up into lines by \r and/or \n then if needed we will break each of those into
         * smaller lines to fit within the limit.
         * We will also look for lines that start with a '.' and prepend an additional '.'.
         * NOTE: this does not count towards line-length limit.
         */

        // Normalize line breaks
        $msg_data = str_replace(array("\r\n", "\r"), "\n", $msg_data);

        /* To distinguish between a complete RFC822 message and a plain message body, we check if the first field
         * of the first line (':' separated) does not contain a space then it _should_ be a header and we will
         * process all lines before a blank line as headers.
         */

        $firstline = substr($msg_data, 0, strcspn($msg_data, "\n", 0));
        $field = substr($firstline, 0, strpos($firstline, ':'));
        $in_headers = false;
        if (!empty($field) && strpos($field, ' ') === false) {
            $in_headers = true;
        }

        $offset = 0;
        $len = strlen($msg_data);
        while ($offset < $len) {
            //Get position of next line break
            $linelen = strcspn($msg_data, "\n", $offset);
            //Get the next line
            $line = substr($msg_data, $offset, $linelen);
            //Remember where we have got to
            $offset += ($linelen + 1);
            $lines_out = array();
            if ($in_headers and $line == '') {
                $in_headers = false;
            }
            //We need to break this line up into several smaller lines
            //This is a small micro-optimisation: isset($str[$len]) is equivalent to (strlen($str) > $len)
            while (isset($line[self::MAX_LINE_LENGTH])) {
                //Working backwards, try to find a space within the last MAX_LINE_LENGTH chars of the line to break on
                //so as to avoid breaking in the middle of a word
                $pos = strrpos(substr($line, 0, self::MAX_LINE_LENGTH), ' ');
                //Deliberately matches both false and 0
                if (!$pos) {
                    //No nice break found, add a hard break
                    $pos = self::MAX_LINE_LENGTH - 1;
                    $lines_out[] = substr($line, 0, $pos);
                    $line = substr($line, $pos);
                } else {
                    //Break at the found point
                    $lines_out[] = substr($line, 0, $pos);
                    //Move along by the amount we dealt with
                    $line = substr($line, $pos + 1);
                }
                //If processing headers add a LWSP-char to the front of new line RFC822 section 3.1.1
                if ($in_headers) {
                    $line = "\t" . $line;
                }
            }
            $lines_out[] = $line;

            //Send the lines to the server
            foreach ($lines_out as $line_out) {
                //RFC2821 section 4.5.2
                if (!empty($line_out) and $line_out[0] == '.') {
                    $line_out = '.' . $line_out;
                }
                $this->client_send($line_out . self::CRLF);
            }
        }

        //Message data has been sent, complete the command
        //Increase timelimit for end of DATA command
        $savetimelimit = $this->Timelimit;
        $this->Timelimit = $this->Timelimit * 2;
        $result = $this->sendCommand('DATA END', '.', 250);
        //Restore timelimit
        $this->Timelimit = $savetimelimit;
        return $result;
    }
}
```

Thanks

My client wants regular backups, and emailing them is the most convenient method.

Isn't the issue then that you are creating one giant string and then exploding it? Why not only explode the components of the email which need exploding before adding them to the giant string, rather than creating the giant string first and them exploding it?

The SMTP `DATA` command just sends one string with limitations on line length, hence the need to break it into lines to process them individually. This requirement exists only at this low level - pushing it further upstream (into the PHMailer class) would break encapsulation and make the data command unusable. The SMTP class doesn't need to know about message structure (you can use it without PHPMailer), and the PHPMailer class doesn't need to know about SMTP line length limits.

`explode` happens to be by far the fastest and most convenient way to do break a string into lines - as above, you've seen there are other ways of doing it that are more memory efficient, but much slower and given that the vast majority of messages are sufficiently small not to run into memory issues, there is no particular reason to choose an implementation that's deliberately slow. No library can be everything to everyone - this is why subclassing is an entirely normal thing to do.

PHP code failing with a memory shortage error is pretty ugly though. Would there be a way to add code to predict memory exhaustion and automatically fall back to a method which uses less memory?

All scripts will fail if they ask for more resources than you have; the most straightforward solution is to increase available resources. Should the explode function be deprecated on the basis that it consumes memory?

It's certainly possible to try to predict this particular issue, but it would come at the expense of performance. You would need to count the number of line breaks in the string (since it's that number that presents the problem, not so much the overall length of the string), then pick the appropriate loop structure, but I suspect the act of counting may negate the performance you would have got otherwise. The implementation above takes around 1.5 seconds for an 18M string (PHP 5.6.6 on a 2.8GHz Xeon), and if you ask me that's too slow, but it may be acceptable for you, especially if your only alternative is it not working at all.

Also we're only talking about one particular threshold that is a side-effect of handling everything in memory. We could keep message bodies on disk and completely avoid memory issues (50Tb attachments anyone?) by reading from files one line at a time (much as I did with my stream example), but again there is a performance tradeoff that negatively affects the vast majority of users that don't need it, and it would incur a whole load of potential permissions issues.

As @SDKiller said:
> Had never ran out of memory like @Sandest - so was even unaware that problem exists.

That's the point - this is an edge case that doesn't warrant a generalised fix.

If I were you, I'd go for the subclass. It's what they are for.

I will certainly look at the subclass, thanks for that. I was just suggesting things which may be of the benefit of the project overall, and which might help avoid memory exhaustion script failures for other people such as I experienced. Hopefully other people experiencing the issue will manage to find this thread for your solution.

I will leave it there, thanks for your help.

I suppose I should say also (at the risk of sounding rude!) that I have just set up Swift Mailer with the SmtpTransport to do the same job and it worked fine with no memory issue.

I have to agree with @Synchro, since `explode` is the fastest implementation it should be used by PHPMailer. Most [citation needed, gut feeling] mail providers drop mails which exceed 20 MiB which means you'll run into trouble sending large mail before you run into OOM conditions most of the time.

If we look at the SMTP size limits of the 3 of largest mail providers:

Gmail: 35 MB
Outlook.com: 35 MB
Yahoo: 40 MB

18 MB isn't huge then, really. I have no idea how well Swift Mailer benchmarks against PHPMailer, but as I say, Swift Mailer does not exhibit this memory issue for me.

You're mischaracterising this: There isn't a memory issue. There is a difference in implementation choices. I could patch the SMTP class as above (as could you) and it would fix *your* problem, but the 100 million other PHPMailer users might be a little annoyed. Libraries are absolutely intended to be subclassed and tweaked; you don't expect them to do everything to your specification out of the box.

Swiftmailer is great. It does lots more than PHPMailer, at the expense of complexity (count those files!). It consumes more memory when sending small messages, and it's also generally slower. It's just a matter of where your priorities lie; that's why there is more than one PHP email class to choose from. Zend_mailer and the old zetacomponents classes are also excellent. So long as you use something decent and don't call `mail()` yourself, that's fine by me!

I had a rummage in Swiftmailer's source: it's generally using streams, but it still keeps entire message bodies in memory. I found [this function](https://github.com/swiftmailer/swiftmailer/blob/29623072927aa83f371dfa645644ec7a26600e95/lib/classes/Swift/Mime/ContentEncoder/PlainContentEncoder.php#L116) that's doing exactly the same thing as PHPMailer (exploding an entire message body by line breaks) and will be subject to exactly the same kind of memory issues if you feed it a big enough body. There's no magic involved.

But seemingly Swift Mailer's function does not consume 9x the source string size unlike PHPMailer, because my 18 MB attachment sends with 128 MB of PHP memory (and 128 MB a pretty generous amount of memory for shared hosting).

I think unilaterally dismissing memory usage over performance is the wrong way to go, especially considering the 35+ MB SMTP limits I quoted earlier, and the somewhat undersized memory limits of some shared hosting providers.

It is likely when people hit this issue they simply drop PHPMailer in favour of Swift Mailer rather than report the issue here as I have, so just how "edge case" I am is debatable.

But yes, this is your project to do with as you please, and yes, I am free to use the alternative software solution that works for me.

On the same basis, why do you think it's ok to unilaterally dismiss performance? And I didn't dismiss it; I provided you with a perfectly good workaround.

SwiftMailer isn't using the explode function in the same place, but if you call the function that uses it with the same amount of data, it will consume exactly the same amount of memory and have exactly the same issue. As I said, there's no magic involved.

Sending that kind of volume over email is a really poor solution. It's incredibly inefficient, probably insecure, unresumable and unreliable, so just because you *can* send 35M to gmail doesn't make it a good idea. You'll notice that other protocols have no such limitations because they don't have the same shortcomings.