How to REPLY to an email

I am doing an auto-reply to incoming emails received using IMAP. How do I make sure that the email is sent as a response to the user's email, and not as a separate message? How to respond when you click the button, for example, through a mobile client


`$email - user's email address`

`$subject - The subject of the user's email`

`$ticket_id - An integer (the number of the request) I generate myself`

`$message_id - message id (format: <example@mail.gmail.com >)`

The code below sends emails perfectly, but not in response


```
public function sendMail($email, $subject, $ticket_id, $message_id)
    {
        try {
            $text = "Добрый день!<br>Ваше обращение принято под номером ".$ticket_id;
            $this->mail->addAddress($email);
            $this->mail->Subject = "Re: " . imap_utf8($subject . " (Обращение #" . $ticket_id . ")");
            $this->mail->msgHTML($text);
            return $this->mail->send();
        } catch (Exception $error) {
            return $error;
        }
```
        
I tried to do this:

`$this->mail->addCustomHeader('In-Reply-To', $message_id)`;
`$this->mail->addCustomHeader('References', $message_id);`

It didn't work. Can you tell me how to solve this problem?

To ensure that your email is sent as a response to the user's email rather than as a separate message, you need to correctly set the `In-Reply-To` and `References` headers. These headers help email clients understand the email thread.

Here's an updated version of your `sendMail` function with the correct implementation:

```php
public function sendMail($email, $subject, $ticket_id, $message_id)
{
    try {
        $text = "Добрый день!<br> ".$ticket_id;
        $this->mail->addAddress($email);
        $this->mail->Subject = "Re: " . imap_utf8($subject . " (Обращение #" . $ticket_id . ")");
        $this->mail->msgHTML($text);
        
        // Add In-Reply-To and References headers
        $this->mail->addCustomHeader('In-Reply-To', $message_id);
        $this->mail->addCustomHeader('References', $message_id);

        return $this->mail->send();
    } catch (Exception $error) {
        return $error;
    }
}
```

Make sure you are using a correct message ID format and your `$message_id` variable contains a valid message ID of the original email. The message ID should be enclosed in angle brackets `<...>`. For example, `<example@mail.gmail.com>`.

If the headers are not being set correctly, it might be due to how your mailing library handles custom headers. Here’s an example :

```php
public function sendMail($email, $subject, $ticket_id, $message_id)
{
    try {
        $text = "Добрый день! ".$ticket_id;
        $this->mail->addAddress($email);
        $this->mail->Subject = "Re: " . imap_utf8($subject . " (Обращение #" . $ticket_id . ")");
        $this->mail->msgHTML($text);

        // Ensure message_id is correctly formatted
        if (strpos($message_id, '<') !== 0) {
            $message_id = '<' . $message_id . '>';
        }

        // Add In-Reply-To and References headers
        $this->mail->addCustomHeader('In-Reply-To', $message_id);
        $this->mail->addCustomHeader('References', $message_id);

        return $this->mail->send();
    } catch (Exception $error) {
        return $error;
    }
}
```

This should properly thread your email responses in most email clients.

Good answer, thanks @Vignesh-Jothi . The spec for the format of those headers is described in [RFC5322 § 3.6.4](https://www.rfc-editor.org/rfc/rfc5322#section-3.6.4) (make sure you read the whole description, especially about how the two headers differ, though they are pretty much the same if you only have a single message in the reply history), and there are examples in [appendix 2](https://www.rfc-editor.org/rfc/rfc5322#appendix-A.2).