DKIM Fails

Hello,

i think i have found a Bug, causing DKIM to fail.
Tested under Linux 64bit with Ubuntu 16.04 and different PHP Versions 5.x; 7.0.x and 7.1.x

Commenting out the following line bringing DKIM-Verification up again:
static::setLE(PHP_EOL);

Line 1325:
    public function preSend()
    {
        if ('smtp' == $this->Mailer or
            ('mail' == $this->Mailer and stripos(PHP_OS, 'WIN') === 0)
        ) {
            //SMTP mandates RFC-compliant line endings
            //and it's also used with mail() on Windows
            static::setLE("\r\n");
        } else {
            //Maintain backward compatibility with legacy Linux command line mailers
            static::setLE(PHP_EOL); // <- BUG: COMMENT THIS LINE OUT
        }

best regards

What mail server are you using? Doing this produces corrupt messages with some that expect `LF` line breaks for local sendmail submissions (which `mail()` uses) - it's why I had to do this at all.

Hi, the error appears with mail, sendmail and SMTP.

It can't make any difference with SMTP because that code is never run when using the SMTP mailer.

Have checked it again, SMTP works

OK, so when using SMTP, it always uses CRLF breaks. When using mail() it always uses the platform-native breaks. Whether that is appropriate depends on your mail server, and you can override its behaviour with a subclass if it doesn't work for you. Using mail is really a bad idea anyway - it's slower and less safe than SMTP to localhost.

Thanks, i was a little bit annoyed because with the older version it works great and now after updating PHPMailer DKIM fails.

5.2 is/was was wildly inconsistent with line breaks, and would often generate messages containing both kind of breaks! 6.0 is entirely consistent, however, re-reading [RFC6376 section 5.3](https://tools.ietf.org/html/rfc6376#section-5.3) says that DKIM canonicalisation should be performed with CRLF breaks *even if you're sending with a different break format*. That's a messy thing to fix, so unless you have a PR handy, I'd suggest using SMTP to localhost, which is faster, safer anyway, and avoids the problem altogether. [mail() should be considered unsafe in any circumstances](https://exploitbox.io/paper/Pwning-PHP-Mail-Function-For-Fun-And-RCE.html).