Please add support for 'format=flowed' plain text messages to prevent "From-munging"

Firstly, thank you to all those who have contributed to PHPMailer and have made it the leading mail helper for PHP.

As per [RFC 3676](http://tools.ietf.org/html/rfc3676), could you please add 'format=flowed' mime type parameter to message bodies of content-type 'text/plain' and update the text accordingly or add a way of adding this parameter.

The main problem is that many mail systems "From-munge" in-transit messages by replacing all body text lines beginning with 'From ' with '>From '.  Please see [RFC 3676 section 4.4](http://tools.ietf.org/html/rfc3676#section-4.4) for details.  I believe this is to do with quoting of text when replying or forwarding messages.  Because of this, if you write a plain text message that includes a line such as 'From mum with love', you'll find it has been prefixed with '>'.  

Most modern mail clients including Thunderbird Mail, set the Content-Type of the plain text section to "text/plain; charset=ISO-8859-1; format=flowed" (or UTF-8 for charset) and use 'Space-Stuffing' on user inputted text to prevent lines from being munged (they prefix lines beginning with 'From ' or '>' or a space with ' '.  There are also rules for how lines are soft wrapped that could be used in conjunction with the WordWrap option.  

As a test, you can write an email in Thunderbird Mail to yourself that contains a line such as 'From blah' and view the message source on the sent or received message and you will see that the the 'From blah' line has been prefixed with a space and they always set the content type of plain text sections to include "format=flowed".

Here is RFC 3676 section 4.4 about Space-Stuffing:

> 4.4. Space-Stuffing
> 
> In order to allow for unquoted lines which start with ">", and to
> protect against systems which "From-munge" in-transit messages
> (modifying any line which starts with "From " to ">From "),
> Format=Flowed provides for space-stuffing.
> 
> Space-stuffing adds a single space to the start of any line which
> needs protection when the message is generated.  On reception, if the
> first character of a line is a space, it is logically deleted.  This
> occurs after the test for a quoted line (which logically counts and
> deletes any quote marks), and before the test for a flowed line.
> 
> On generation, any unquoted lines which start with ">", and any lines
> which start with a space or "From " MUST be space-stuffed.  Other
> lines MAY be space-stuffed as desired.
> 
> (Note that space-stuffing is conceptually similar to dot-stuffing as
> specified in [SMTP].)

To implement this, GetBoundary() would need to check for content type of 'plain/text' and append "format=flowed" to the "Content-Type: " string, and the plain body text would need to be updated using a simple regex to at least prefix 'From ' and lines beginning with a space.  Lines beginning with '>' should indicate quoted reply/forwarded text but users can prefix these lines with a space themselves if need be if they do not want mail clients to automatically convert these to nicely formatted block quotes.

Currently we are telling our developers and design teams to ensure mail messages do not include lines starting with 'From ' such as 'From Account:' to avoid this minor but annoying mail artifact that mail clients hide from users for a reason.

I'm not sure if 'format=flowed' would be useful for other content-types like 'text/html' too, as lines starting with 'From ' are munged in HTML body content as well.  Thunderbird Mail does NOT add "format=flowed" to HTML body text but that is because the HTML content is nicely indented.

Many thanks,
Brendan


Here's some simple code I wrote that supports format=flowed. No doubt it could be adapted for use in PHPMailer:
```
/* Excerpt from RFC 3676 - 4.2.  Generating Format=Flowed
	A generating agent SHOULD:
	o Ensure all lines (fixed and flowed) are 78 characters or fewer in
	  length, counting any trailing space as well as a space added as
	  stuffing, but not counting the CRLF, unless a word by itself
	  exceeds 78 characters.
	o Trim spaces before user-inserted hard line breaks.
	A generating agent MUST:
	o Space-stuff lines which start with a space, "From ", or ">".
*/
// Trimming spaces before user-inserted hard line breaks, and wrapping:
$lines = explode("\n", $message);
foreach($lines as $ref => $line) {
	$lines[$ref] = wordwrap(rtrim($line), 76, " \n", false);
}
$message = implode("\n", $lines);
// Space-stuffing lines which start with a space, "From ", or ">":
$lines = explode("\n", $message);
foreach($lines as $ref => $line) {
	if(strpos($line, " ") === 0 || strpos($line, "From ") === 0 || strpos($line, ">") === 0) $lines[$ref] = " ".$line;
}
$message = implode("\n", $lines);
```

In essence, what has to be done is the following, in order (*instead* of any standard auto-word-wrapping being applied):
1. Remove (`rtrim`) trailing spaces before all the line breaks in the input text.
2. Perform word-wrapping of all lines, wrapping with "` \n`" (space followed by newline). These are treated as "sort-wrap" by the receiving client if it supports format=flowed.
3. Add a space in front of any line beginning with "` `", "`From `" or "`>`".

(wrapping is done to 76 characters to allow for the trailing space and any required space-stuffing)

The above code is assuming that:
* The input uses `\n` line-endings and at a later point the `\n` are replaced by `\r\n` for sending.
* `format=flowed` is added to the `Content-type` header.

would `array_map` instead of foreach that loop not make more sense? Seems like it could handle the space stuffing which would surely be confined to the initial looped lines?

Thanks for the code.

I don't think array_map vs foreach makes any major difference, so long as it works.

One underlying issue here is really the use of `explode` on a message body. PHPMailer does this in a few places (most significantly when processing attachments), and it's _really_ bad for memory consumption (can be ~10x size of data). The right way to do this would be with a generator as it wouldn't need to hold the whole exploded message in memory at once, however, we're a bit stuck if we're retaining PHP 5.5 compatibility. `array_map` doesn't make any difference to that as it assumes you've already got an array. I'll aim for a PHP 7 minimum on the next major release so that we can use nice things.

It's not the job of libraries to dictate PHP versions - that's an app/framework decision. Libraries should favour compatibility over bleeding-edge feature box-ticking. I have nothing against supporting latest stuff, it just needs to be done in a semver way.

I just checked up and found that generators were actually added in PHP 5.5!

@Synchro PHP 5.5 is EOL & unsupported according to official PHP http://php.net/supported-versions.php at this point it's not such an arbitrary choice as a little messed up not using 5.6+ features. 

I Do appreciate the ❤️ for people on 5.4 and below though, very kind. Anyone on Windows Server 2003 will appreciate 5.4 and below support, but it is ~15 year old OS.

The reason I suggested map instead of foreach was that I'm quite sure it doesn't modify the original array in-place. It takes a bit of RAM like explode (two arrays), but also ensures you can go backwards and discard if not needed. Apologies for assuming that would fit with design goals.

```
<?php
$arr = [
  "1" => "two",
  "3" => "four",
];

var_dump($arr);

var_dump(
  array_map(
      function($value) { return $value . 'appended!'; },
      $arr
  )
);

var_dump($arr);
```

Also RE: length of emails, is it not fair to say that this should only be applied to text bodies without attachments? If so that will limit RAM effects.

Many enterprise level Linux distributions have rather long life cycles, and anyone using them will likely be using old versions of PHP. https://linuxlifecycle.com/

Oh I know that 5.5 is old, but I don't know that we're really missing out on anything particular - current PHPMailer runs quite happily with no warnings on pre-release 7.3. Updating beyond 5.3 & 5.4 was critical as it meant we could use namespaces, closures & short arrays, but beyond that there's not a huge amount that leaps out as essential in later versions. There are lots of very minor changes that could be made for their own sake, but the cost of BC breaks is very high - for example, Wordpress uses PHPMailer, but it has a minimum version requirement of PHP 5.2, even in the latest 4.9 release, so even that's stuck with the 5.2-legacy branch. That's what I meant about PHP version being an app/framework choice, not up to a library - I'd call it backseat driving.

Replacing explode with generators (everywhere, not just in this case) would likely bring an improvement of orders of magnitude in memory use, which is a much bigger payoff than any shiny new language feature.

I'm fine with array_map, I was just saying it's an implementation choice - it sounds like you have a good idea of how you'd approach this - PRs welcome!

I'll see what I can do 😉 it looks like I've been interested (for reasons I've not recorded anywhere) since 2013. In any case I certainly was not expecting anyone else to write features for me. Apologies if that was how it came across. 

@Synchro How does one set `format=flowed` exactly? I don't see any references to it in the codebase. I'm asking you because you marked this issue as "completed", so I take it that means some unreferenced commit added support for it?

I tried generating the format flowed representation myself and then overriding the Content-Type, but that just results in 2 Content-Type headers, so I guess I need to use the builtin way.

I think this was marked as completed before GitHub supported other options!

I don't have any plans to support this. The naive approach suggested will impact already-problematic memory consumption for everyone, not just those that want this. I've also not seen this happen in the wild after sending hundreds of millions of messages. If someone cares enough to write a good PR for it, I'll reconsider.

> I think this was marked as completed before GitHub supported other options!
> 
> I don't have any plans to support this. The naive approach suggested will impact already-problematic memory consumption for everyone, not just those that want this.

I understand the memory consumption bit. But why would it impact it for everyone? This code should only be running for people who've specified the `format=flowed` content type. By default, emails would be sent without running this code path.

> I've also not seen this happen in the wild after sending hundreds of millions of messages.

Seen what happen exactly? `format=flowed` is the default for plain text emails, pretty much everywhere these days. Thunderbird, automated messages, etc. When it's not used, it shows and it's painful. There are people out there on mailing lists who will literally complain about it, I've seen it.

> If someone cares enough to write a good PR for it, I'll reconsider.

Well, I do need this, or I can't use PHPMailer for this application (a webmail client), so I'd be willing to submit a PR, sure. The alternative would be letting users set their own message body and content type, which I also don't think is possible currently (but correct me if I'm wrong). But we might as well implement it properly for everyone to be able to use.

I agree `explode` is not the best way to do this. I believe `strtok` is the most efficient way to split on a delimiter in PHP. Here is sort of a toy example of what I'm thinking:

```
/* Create a format=flowed plain text body (RFC 3676 - 4.2) */
$ffbody = "";
$line = strtok($body, "\n");
while ($line !== false) {
	rtrim($line); /* Trim spaces before user line breaks */
	if (substr($line, -1) === "\r") {
		/* Also strip CR if present */
		$line = substr($line, 0, -1);
	}
	/* Need to space stuff.
	 * Could use str_starts_with, but use substring for <8 compatibility */
	if (substr($line, 0, 1) === " " || substr($line, 0, 4, "From") || substr($line, 0, 1, ">")) {
		$line = " " . $line;
	}
	/* Now it's deterministic
	 * Wrap each line at 76 characters, with a space after to make it format=flowed.
	 */
	$line = wordwrap($line, 76, " \r\n");
	$ffbody .= $line . "\r\n";
	$line = strtok("\n");
}
```

I haven't actually tested that yet, but do any potential issues stand out to you with this approach? If not, I could go ahead and clean it up and then work on a PR for adding a new content type. Could you reopen the issue, so I could submit it against this?

> > This code should only be running for people who've specified the format=flowed content type. By default, emails would be sent without running this code path.
> 
> I think that if this is available, it should be done automatically (just as dot-stuffing is already); it's the kind of esoteric issue peculiar to email internals that people just don't really want or need to know about. That would imply that this check is done for all messages.

Makes sense to me, as a default. But there may be rare cases where someone explicitly does *not* want `format=flowed` (perhaps emailing something where the body must not be modified), in which case it should still be able to be disabled if desired to current behavior. I think an example I saw somewhere is sending code patches by email.

> That said, I suspect that it's rare to need it because nearly every user of PHPMailer is not processing/replying to existing email messages, but only sending new ones, in which format=flowed doesn't apply.

Even for sending new emails that are not replies, `format=flowed` is still useful. Line wrapping needs to happen at 78 characters, and if there are lines longer than that, the only way to have them show as a single paragraph on the receiving side is using `format=flowed`. This is really the main benefit as I see it.

I'm using this for both new messages and replies.

> I had a look at how other systems implement this, and didn't find any 

There should be an example in the Thunderbird source... somewhere...

This is the code for parsing it, not generating it; I can't quite find where that happens: https://github.com/mozilla/releases-comm-central/blob/master/mailnews/mime/src/mimetpfl.cpp

> apart from a completely different approach in Apple Mail: it converts lines that start with `From` to `=46rom`, i.e. avoiding the situation by using quoted-printable instead of format=flowed. The main alternatives to PHPMailer are Symfony Mailer (was SwiftMailer) and Laminas Mail, and I see that neither of them support `flowed` either.
> 
> You can set your own message body by setting `Body` (though that's pre-encoding, so won't help here), and set the body's content type by setting `ContentType`, however, this won't let you alter the encoding. The `Encoding` property affects the enclosing CTE, not minor variations of the content type that is encoded.
> 
> The other thing I'm very wary of the effects on DKIM - PHPMailer's DKIM signing is horribly fragile, and I'm very averse to breaking it.

