Add a method to allow changing of RCPT command, leaving headers intact

This ticket is a preface for a pull request being submitted

Add a method to allow changing of RCPT command, leaving headers intact. This method (envelop_to) would be used if you want to 'redirect' an email to another address without changing it. So the original TO and other headers will remain intact.

Example:

You have a raw e-mail intended for someone@example.com, and you want to redirect it do third@example.com, leaving the original TO intact to mail clients would keep their display of the original mail. The code would need to do:

```
2015-12-11 11:01:52 SERVER -> CLIENT: 220 ar3.ip6.nu ESMTP Postfix (Ubuntu)
2015-12-11 11:01:52 CLIENT -> SERVER: EHLO ar3.ip6.nu
2015-12-11 11:01:52 SERVER -> CLIENT: 250-ar3.ip6.nu
                                      250-PIPELINING
                                      250-SIZE 10240000
                                      250-VRFY
                                      250-ETRN
                                      250-STARTTLS
                                      250-ENHANCEDSTATUSCODES
                                      250-8BITMIME
                                      250 DSN
2015-12-11 11:01:52 CLIENT -> SERVER: STARTTLS
2015-12-11 11:01:52 SERVER -> CLIENT: 220 2.0.0 Ready to start TLS
2015-12-11 11:01:52 CLIENT -> SERVER: EHLO ar3.ip6.nu
2015-12-11 11:01:52 SERVER -> CLIENT: 250-ar3.ip6.nu
                                      250-PIPELINING
                                      250-SIZE 10240000
                                      250-VRFY
                                      250-ETRN
                                      250-ENHANCEDSTATUSCODES
                                      250-8BITMIME
                                      250 DSN
2015-12-11 11:01:53 CLIENT -> SERVER: MAIL FROM:<sender@example.com>
2015-12-11 11:01:53 SERVER -> CLIENT: 250 2.1.0 Ok
2015-12-11 11:01:53 CLIENT -> SERVER: RCPT TO:<third@example.com>
2015-12-11 11:01:53 SERVER -> CLIENT: 250 2.1.5 Ok
2015-12-11 11:01:53 CLIENT -> SERVER: DATA
2015-12-11 11:01:53 SERVER -> CLIENT: 354 End data with <CR><LF>.<CR><LF>
2015-12-11 11:01:53 CLIENT -> SERVER: Date: Fri, 11 Dec 2015 12:01:52 +0100
2015-12-11 11:01:53 CLIENT -> SERVER: To: John Doe <someone@example.com>
2015-12-11 11:01:53 CLIENT -> SERVER: From: First Last <sender@example.com>
2015-12-11 11:01:53 CLIENT -> SERVER: Subject: PHPMailer mail() test
2015-12-11 11:01:53 CLIENT -> SERVER: Message-ID: <1563b2befbc0ac7e0ca015cde24fd045@ar3.ip6.nu>
2015-12-11 11:01:53 CLIENT -> SERVER: X-Mailer: PHPMailer 5.2.14 (https://github.com/PHPMailer/PHPMailer)
2015-12-11 11:01:53 CLIENT -> SERVER: MIME-Version: 1.0
2015-12-11 11:01:53 CLIENT -> SERVER: Content-Type: text/plain; charset=iso-8859-1
2015-12-11 11:01:53 CLIENT -> SERVER: Content-Transfer-Encoding: 8bit
2015-12-11 11:01:53 CLIENT -> SERVER:
2015-12-11 11:01:53 CLIENT -> SERVER: This is a plain-text message body
2015-12-11 11:01:53 CLIENT -> SERVER:
2015-12-11 11:01:53 CLIENT -> SERVER: .
2015-12-11 11:01:53 SERVER -> CLIENT: 250 2.0.0 Ok: queued as 03ACA21823
2015-12-11 11:01:53 CLIENT -> SERVER: QUIT
2015-12-11 11:01:53 SERVER -> CLIENT: 221 2.0.0 Bye
```

example code/pull request follows.


Isn't this basically the same thing as BCC? BCC sets RCPT TO without affecting the `to` header. Are you saying that the original message is never sent at all?

No, because if i add a BCC i still need to add a TO for the receiving recipient's client to see the original recipient. But if i add the TO field that person will get the e-mail as well and we just want to 'redirect' it.

So basically i want to:
- Send the message to a BCC recipient (envelope to)
- Keep the original to header
- Do NOT send the message to the TO recipient

The same as the mutt implementation at http://dev.mutt.org/hg/mutt/file/02bc14ed1569/sendlib.c#l2520
As well as the Thunderbird/Icedove implemention add-on called 'Mail Redirect', and to just quote the description:

In office environment there is sometimes a need to forward email with original headers to somebody else. If Forward or Edit as new command is used, headers are very different comparing to original message (other From, Message-Id, Date fields). If you use the Mailredirect Extension headers are not changed, so the recipient of redirected mail has almost the original message. In practice all important headers in redirected message are identical to original one (From, CC, Message-Id, Date). 

When redirecting email, body and headers are left untouched, so fields like Received:, From:, To: in redirected message are the same as in original one.
However redirected mail differs a bit from original one. A few new headers are added: Resent-From:, Resent-To:, Resent-Date:, Resent-Message-Id: and Resent-User-Agent: which allow to identify redirected mails.
For more details about redirecting feature and discussion about it go to bug #12916 page on bugzilla. You can also take a look at RFC 2822 section 3.6.6. 


I don't think this is a wise way implement this feature.

Expanding on your example, when third@example.com receives an e-mail where header "To: someone@example.com" appears, he can't tell whether someone@ did receive the message or not, i.e. he can't tell whether:
a) someone@ did receive and redirect the message, either manually (e.g. 'Mail Redirect' add-on) or automatically (redirection configured in e-mail server);
b) someone@ did not receive the message, it was "redirected" with PHPMailer with your new feature.

IMHO, if header "To: someone@example.com" appears, it is standard expectation that someone@ did receive the message, and we should not circumvent it.

In your use case, I think the right solutions are:

1) (recommended) Configure a redirection on the mail server for someone@example.com. Every e-mail system I know has some kind of redirection setting, or option to add filters including redirection.

2) In PHP-Mailer, specify only third@example.com as regular recipient, and add custom headers with addCustomHeader():
Resent-From: someone@example.com
Resent-To: third@example.com
Resent-Date: …

For reference, I'll copy below section 3.6.6. of RFC2822, that you mention, that discusses redirection.

The bug you mention is >16 years old and still now addressed :)
https://bugzilla.mozilla.org/show_bug.cgi?id=12916
Reported:	1999-08-31 18:07 PDT by Phil Peterson


***

Source: https://www.ietf.org/rfc/rfc2822.txt

3.6.6. Resent fields

   Resent fields SHOULD be added to any message that is reintroduced by
   a user into the transport system.  A separate set of resent fields
   SHOULD be added each time this is done.  All of the resent fields
   corresponding to a particular resending of the message SHOULD be
   together.  Each new set of resent fields is prepended to the message;
   that is, the most recent set of resent fields appear earlier in the
   message.  No other fields in the message are changed when resent
   fields are added.

   Each of the resent fields corresponds to a particular field elsewhere
   in the syntax.  For instance, the "Resent-Date:" field corresponds to
   the "Date:" field and the "Resent-To:" field corresponds to the "To:"
   field.  In each case, the syntax for the field body is identical to
   the syntax given previously for the corresponding field.

   When resent fields are used, the "Resent-From:" and "Resent-Date:"
   fields MUST be sent.  The "Resent-Message-ID:" field SHOULD be sent.
   "Resent-Sender:" SHOULD NOT be used if "Resent-Sender:" would be
   identical to "Resent-From:".

resent-date     =       "Resent-Date:" date-time CRLF

resent-from     =       "Resent-From:" mailbox-list CRLF

resent-sender   =       "Resent-Sender:" mailbox CRLF

resent-to       =       "Resent-To:" address-list CRLF

resent-cc       =       "Resent-Cc:" address-list CRLF

resent-bcc      =       "Resent-Bcc:" (address-list / [CFWS]) CRLF

resent-msg-id   =       "Resent-Message-ID:" msg-id CRLF

   Resent fields are used to identify a message as having been
   reintroduced into the transport system by a user.  The purpose of
   using resent fields is to have the message appear to the final
   recipient as if it were sent directly by the original sender, with
   all of the original fields remaining the same.  Each set of resent
   fields correspond to a particular resending event.  That is, if a
   message is resent multiple times, each set of resent fields gives
   identifying information for each individual time.  Resent fields are
   strictly informational.  They MUST NOT be used in the normal
   processing of replies or other such automatic actions on messages.

   Note: Reintroducing a message into the transport system and using
   resent fields is a different operation from "forwarding".
   "Forwarding" has two meanings: One sense of forwarding is that a mail
   reading program can be told by a user to forward a copy of a message
   to another person, making the forwarded message the body of the new
   message.  A forwarded message in this sense does not appear to have
   come from the original sender, but is an entirely new message from
   the forwarder of the message.  On the other hand, forwarding is also
   used to mean when a mail transport program gets a message and
   forwards it on to a different destination for final delivery.  Resent
   header fields are not intended for use with either type of
   forwarding.

   The resent originator fields indicate the mailbox of the person(s) or
   system(s) that resent the message.  As with the regular originator
   fields, there are two forms: a simple "Resent-From:" form which
   contains the mailbox of the individual doing the resending, and the
   more complex form, when one individual (identified in the
   "Resent-Sender:" field) resends a message on behalf of one or more
   others (identified in the "Resent-From:" field).

   Note: When replying to a resent message, replies behave just as they
   would with any other message, using the original "From:",

   "Reply-To:", "Message-ID:", and other fields.  The resent fields are
   only informational and MUST NOT be used in the normal processing of
   replies.

   The "Resent-Date:" indicates the date and time at which the resent
   message is dispatched by the resender of the message.  Like the
   "Date:" field, it is not the date and time that the message was
   actually transported.

   The "Resent-To:", "Resent-Cc:", and "Resent-Bcc:" fields function
   identically to the "To:", "Cc:", and "Bcc:" fields respectively,
   except that they indicate the recipients of the resent message, not
   the recipients of the original message.

   The "Resent-Message-ID:" field provides a unique identifier for the
   resent message.



I've just remembered why I was thinking about retaining the raw message body - if you try to recreate headers and body, you're very likely to cause DKIM failures. Given that this looks like you're doing all this for abuse reporting where you're forwarding a copy of the source message, there is already a defined format for doing this - [RFC5965](http://tools.ietf.org/html/rfc5965) - that is already very common for this use case - AOL, Yahoo amd Hotmail all use it.

No, adding TO's will exactly does the wrong thing, which a bounce there is no expectation that a TO should receive this e-mail ... as its the original to that is resending/bouncing it.

Ill work out a more detailed 'why' if needed , but that would be done when i am better

workcase:

1. abuse@someone.tld gets an e-mail
2. the MTA delevers this to a PHP script, using pipes (aliases: abuse: php script.php)
3. magic happens in script
4. the script fails. then the original script would be either be:
- forwardded e.g. as eml attachment. Still has the original mail however requires actions to read the mail (save and open the EML with a client that understands).
- bounce is to another receipiant. Leaving all the items intact like i shown so the new receipiant (script or human) will see the original mail for him to handle. Think on stuff like mail tracking and support systems that allows you to search for a 'to' or 'from'.

And yes i am aware of DKIM, SPF and other measures that might present it. Luckally its 99% internal sending e.g. abuse@domain to support@domain therefor whitelistable.

A feedback report is a different usecase and not really the problem. THe problem is simple put:

if not using bounces the new receipiant will not see the correct, to, from and headers which result in tracking systems not logging the wanted headers for stuff like searches.

thankx . back to hot tea and bed again

If 4) happens during the SMTP conversation started in 1), surely the message should be bounced with a 554/4.3.5 or similar error? Why would this be something that happens frequently? Are you providing hosting for abuse address scripts or something? The ARF format usually attaches the original message, exactly as you describe in 5), along with somewhere to put info about what went wrong, which seems to match what you're aiming for.

Given that you seem to have a use case that's very specific to you, it sounds like this would be better implemented in a local subclass?

No, as then the e-mail would bounce back to the original 'from' and we use Queuing in laravel so the e-mail is always accepted (and logged). We basicly receive a e-mail from someone, transparantly try to parse it into a automatic system and if that fails bounce it to the admin/supportdesk. ABuseIO basicly tries to 'parse' every incoming abuse mail into something useable and does a lot more magic once its parsed (see https://abuse.io).

Please this is not ARF, nor a feedback loop. We use ARF even ourselves as a parsing method (which could lead into ARF in ARF, inception! :p) The project is AbuseIO where we currently be using this:
https://github.com/AbuseIO/AbuseIO/blob/master/app/Jobs/EmailProcess.php line 243 and futher.

This is how we do it now, adding it as attachment (and it doesnt matter if you ARF this) and sending it the the admin of the system. Useally a system like OTRS which logs the TO, from, etc. Instead of opening the attachment using a bounce would directly log the 'case' directly into the tracking system.

creating 'bounces' is not really new and widely adopted in mail clients, hence my request to add it here. My example was more a PoC that i quickly tested and works with minor changes. I know other projects that implemented php 'telnets' and doing the MTA transfer manually which is very ugly and those people would be able to use phpmailer too. but if we need to maintain our own package i understand, i was just hoping to get this mainstream as its really odd nobody implemented this on any of the mailer libs as far as i can see.

thnx again

Why not store everything and parse later? That way you have less risk on reception and can parse at leisure, flagging problem messages as you go. Since this is all about parsing messages it sounds like you're saving up trouble by rewriting the message before you know what's wrong with it, preventing you from accurately fixing your parser to deal with the exact original message. Forwarding this via SMTP seems a somewhat obtuse way of getting it to your helpdesk - does it not have an API you can stuff things into over HTTP?

It seems i still fail to show you the need for this ... please do not think about my projects requirements, but just the 'bounce' functionality that most mailclients do have (mutt, icedove, etc). I think i will never be able to successfully explain the implementation. Ill do a final try to persuade you, else we will just go with building our own library for this.

To still answer your questions we ARE saving and parsing it later, which is not the issue. Nor the default way of contacting for 'help something went wrong here'. No we are not rewriting a message at all, my example was just a very crude way of 'bouncing' the e-mail i wanted to bounce as there is no simple way to override these values without setting them/providing a raw EML. All the parsers work just fine. Its the exception handling we want to _improve_, but it is already working ... like i said it will 'forward' the mail as an attachment which works fine.

An API would be great, but that would mean we would (now) first need to implement every and any tool any helpdesk might be using for us to 'transfer a failed mail'. Thats not going to work, especially if there are custom build 'helpdesk tools'

And yes, the forward method works fine and the abusedesk gets the mail and would be able to act on it. But because its an attachment, changed to address, changed from address, or whatever alternative there is any kind of 'normal' searching will not work.

The problem is that if you are not using the BOUNCE method then you would have problems with the mail sorting, searching, etc with a tool like OTRS (one of the many widely used). This problem is what i want to try and solve by introducing the functionality

Hi! 

There is some information I came accross, and I thought you might be interested, just take  a look <http://famous.hellrats.com/e4pxqto>

Sent from my iPhone, ljlorente


