DKIM signature invalid if body has trailing whitespaces

Please check these things before submitting your issue:

- [X] *Read the error message* you're seeing - it often tells you what is wrong, and may contain useful links & instructions
- [X] Make sure you're using the latest version of PHPMailer
- [X] Check that your problem is not dealt with in [the troubleshooting guide](https://github.com/PHPMailer/PHPMailer/wiki/Troubleshooting), especially if you're having problems connecting to Gmail or GoDaddy
- [X] Include sufficient code to reproduce your problem
- [X] If you're having an SMTP issue, include the debug output generated with `SMTPDebug = 2` set
- [X] If you have a question about how to use PHPMailer (rather than reporting a bug in it), tag a question on Stack Overflow with `phpmailer`, but [**search first**](https://stackoverflow.com/questions/tagged/phpmailer)!

# Problem description

If phpmailer signs a mail with DKIM and the body has trailing spaces, the generated signature is invalid (body has been altered).

# Code to reproduce

```php
<?php

use PHPMailer\PHPMailer\PHPMailer;

require __DIR__ . '/vendor/autoload.php';

$mail = new PHPMailer(true);
$mail->isSMTP();
$mail->Host = 'example.com';
$mail->setFrom('test@example.com');
$mail->addAddress('test@example.com');
$mail->Subject = 'Test';
$mail->DKIM_domain = 'example.com';
$mail->DKIM_selector = 'key1';
$mail->DKIM_private = __DIR__ . '/dkim.pem';
$mail->DKIM_identity = $mail->From;
$mail->DKIM_copyHeaderFields = false;

$mail->Body = 'Test ';
// See this space  ^
$mail->send();
```

I think the problem is this line:

https://github.com/PHPMailer/PHPMailer/blob/0064f26786dc99c2fffad0e4615e54c5fa2e99fa/src/PHPMailer.php#L4813

It changes the body which is used for signing. But the body which is sent in the mail doesn't get changed.

The DKIM spec for "simple" canonicalisation [RFC6376 section 3.4.3](https://tools.ietf.org/html/rfc6376#section-3.4.3) says this:

> The "simple" body canonicalization algorithm ignores all empty lines
   at the end of the message body.  An empty line is a line of zero
   length after removal of the line terminator.  If there is no body or
   no trailing CRLF on the message body, a CRLF is added.  It makes no
   other changes to the message body.  In more formal terms, the
   "simple" body canonicalization algorithm converts "*CRLF" at the end
   of the body to a single "CRLF".

There is indeed an issue here in that `stripTrailingWSP` removes line breaks as it should, but also removes tabs and spaces, causing the issue you describe. Fix incoming.